// mixins

@mixin border_radius($radius) 
  -moz-border-radius: #{$radius}
  -webkit-border-radius: #{$radius}
  border-radius: #{$radius}

@mixin box_shadow($color, $values)
  -webkit-box-shadow: unquote("#{$color} #{$values}")
  -moz-box-shadow: unquote("#{$color} #{$values}")
  box-shadow: unquote("#{$color} #{$values}")

@mixin bar($start,$end)
  $start_value: $start - 1870
  $length: $end - $start
  margin-left: ($start_value*8) + px
  width: ($length*8) - 4px

$default_color: #000064
.level1
  background-color: $default_color
.level2
  background-color: #333383
  background-color: fade_out($default_color, 0.2)
.level3
  background-color: #6666A2
  background-color: fade_out($default_color, 0.4)
.level4
  background-color: #9999C1
  background-color: fade_out($default_color, 0.6)
.level5
  background-color: #CCCCE0
  background-color: fade_out($default_color, 0.8)

body
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif
  background-color: #eee
  font-size: 14px

header, footer, nav, section, small
  display: block

a
  text-decoration: none
  &:link
    color: fade_out($default_color, 0.2)
  &:visited
    color: fade_out($default_color, 0.4)
  &:hover, &:active
    color: $default_color
  &:active
    text-decoration: underline

#wrapper
  width: 1120px
  margin: 0 auto 80px
  border: 4px solid #CCC
  padding: 20px
  background-color: white

// header

header
  width: 1160px
  margin: 40px auto 0
  position: relative
  h1
    font-family: 'ChunkFiveRegular'
    color: #666
    margin: 0
    font-weight: normal
    font-size: 72px
    line-height: 1
    text-shadow: #BBB 0px 0px 8px
  h2
    color: #333
    margin: 0
    position: absolute
    right: 0
    font-size: 18px
    bottom: 15px
  h3
    margin: 0
    position: absolute
    right: 0
    top: 0
    font-weight: normal
    font-size: 15px

#key
  border-bottom: 1px solid #eee
  padding-bottom: 20px
  margin-bottom: 20px
  ul
    margin: 0
    list-style: none
    padding: 0
    font-size: 12px
  li
    display: inline
    margin-bottom: 10px
  span
    display: inline-block
  .level1, .level2, .level3, .level4, .level5
    height: 16px
    width: 24px
    text-indent: -9999px
  .name
    margin-right: 10px

#toggles
  width: 1120px
  margin: 20px 0
  dl
    margin: 0
  dt
    font-weight: bold
    margin: 10px 0 5px
    display: inline-block
  dd
    +border_radius(10px)
    display: inline-block
    padding: 2px 12px
    background-color: #EEE
    border: 1px solid #DDD
    margin: 0 0 4px
    white-space: nowrap
    cursor: pointer
    &:hover
      border-color: #CCC
    &.yah
      background-color: #FF0
    span
      font-size: 11px
      color: #666

#timeline
  width: 1120px
  background: url(timeline.png) 0 0
  padding-bottom: 100px
  ul
    list-style: none
    padding: 40px 0 0
    margin: 0
  li
    cursor: pointer
    margin: 0 0 5px
    padding: 0
    display: block
    padding: 2px
    color: white
    position: relative
    div
      +box_shadow(#AAA, 0px 0px 10px)
      +border_radius(10px)
      position: absolute
      top: 150%
      left: 0
      color: black
      display: block
      width: auto
      border: 2px solid #ccc
      background-color: #fff
      z-index: 1
      padding: 10px
      font-size: 18px
      font-weight: bold
      em
        font-weight: normal
        font-style: normal
        font-size: 14px
      dl
        margin: 8px 0 0
        white-space: nowrap
      dt
        font-weight: normal
        font-size: 14px
        vertical-align: baseline
        display: inline-block
        width: auto
        color: #999
      dd
        font-size: 18px
        margin: 0
        padding: 0 4px
        display: inline-block
      small
        font-weight: normal
        margin-top: 8px
        font-size: 11px

table
  width: 100%
  border-left: 1px solid #ccc
  border-top: 1px solid #ccc
  border-collapse: collapse
  th, td
    padding: 4px
    border-right: 1px solid #ccc
    border-bottom: 1px solid #ccc
  thead th, tbody td
    text-align: right
  tbody th, thead tr th:first-child
    text-align: left
  thead th
    background-color: #eee
    padding-right: 18px
  thead tr .header
    background-image: url(http://darowski.com/scripts/bg.gif)
    background-repeat: no-repeat
    background-position: center right
    cursor: pointer
  tbody td
    vertical-align: top
  thead tr .headerSortUp
    background-image: url(http://darowski.com/scripts/asc.gif)
  thead tr .headerSortDown
    background-image: url(http://darowski.com/scripts/desc.gif)
  thead tr .headerSortDown, thead tr .headerSortUp
    background-color: #666
    color: #FFF

footer
  margin-top: 20px
  line-height: 1.5
  #credits
    display: inline-block
    margin: 0 0 20px
  #btb-box
    text-align: center
    background-color: #eee
    padding: 10px
    border: 1px solid #ccc
    h4
      font-size: 18px
      margin: 0 0 5px
  p
    font-size: 12px
  #social
    float: right
    iframe
      vertical-align: top

@font-face
  font-family: 'ChunkFiveRegular'
  src: url('fonts/Chunkfive-webfont.eot')
  src: local('☺'), url('fonts/Chunkfive-webfont.woff') format('woff'), url('fonts/Chunkfive-webfont.ttf') format('truetype'), url('fonts/Chunkfive-webfont.svg#webfontb5K2fJwj') format('svg')
  font-weight: normal
  font-style: normal

#timeline

  // Hall of Famers

  #canson
    +bar(1871, 1897)
  #jorourke
    +bar(1872, 1893)
  #pgalvin
    +bar(1875, 1892)
  #mward-p
    +bar(1878, 1884)
  #kkelly
    +bar(1878, 1893)
  #mward
    +bar(1878, 1894)
  #dbrouthers
    +bar(1879, 1904)
  #mwelch
    +bar(1880, 1892)
  #tkeefe
    +bar(1880, 1893)
  #rconnor
    +bar(1880, 1897)
  #bewing
    +bar(1880, 1897)
  #cradbourn
    +bar(1881, 1891)
  #jclarkson
    +bar(1882, 1894)
  #bmcphee
    +bar(1882, 1899)
  #tmccarthy
    +bar(1884, 1896)
  #sthompson
    +bar(1885, 1906)
  #bhamilton
    +bar(1888, 1901)
  #edelahanty
    +bar(1888, 1903)
  #hduffy
    +bar(1888, 1906)
  #jbeckley
    +bar(1888, 1907)
  #arusie
    +bar(1889, 1901)
  #jburkett
    +bar(1890, 1905)
  #knichols
    +bar(1890, 1906)
  #gdavis
    +bar(1890, 1909)
  #cyoung
    +bar(1890, 1911)
  #jkelley
    +bar(1891, 1908)
  #cgriffith
    +bar(1891, 1914)
  #hjennings
    +bar(1891, 1918)
  #wkeeler
    +bar(1892, 1910)
  #fclarke
    +bar(1894, 1915)
  #bwallace
    +bar(1894, 1918)
  #jcollins
    +bar(1895, 1908)
  #nlajoie
    +bar(1896, 1916)
  #rwaddell
    +bar(1897, 1910)
  #rbresnahan
    +bar(1897, 1915)
  #hwagner
    +bar(1897, 1917)
  #eflick
    +bar(1898, 1910)
  #vwillis
    +bar(1898, 1910)
  #fchance
    +bar(1898, 1914)
  #jmcginnity
    +bar(1899, 1908)
  #jchesbro
    +bar(1899, 1909)
  #scrawford
    +bar(1899, 1917)
  #cmathewson
    +bar(1900, 1916)
  #eplank
    +bar(1901, 1917)
  #ajoss
    +bar(1902, 1910)
  #jtinker
    +bar(1902, 1916)
  #jevers
    +bar(1902, 1929)
  #mbrown
    +bar(1903, 1916)
  #cbender
    +bar(1903, 1925)
  #ewalsh
    +bar(1904, 1917)
  #tcobb
    +bar(1905, 1928)
  #ecollins
    +bar(1906, 1930)
  #wjohnson
    +bar(1907, 1927)
  #tspeaker
    +bar(1907, 1928)
  #fbaker
    +bar(1908, 1922)
  #rmarquard
    +bar(1908, 1925)
  #hhooper
    +bar(1909, 1925)
  #zwheat
    +bar(1909, 1927)
  #mcarey
    +bar(1910, 1929)
  #palexander
    +bar(1911, 1930)
  #scoveleski
    +bar(1912, 1928)
  #rschalk
    +bar(1912, 1929)
  #erixey
    +bar(1912, 1933)
  #hpennock
    +bar(1912, 1934)
  #rmaranville
    +bar(1912, 1935)
  #eroush
    +bar(1913, 1931)
  #hheilmann
    +bar(1914, 1932)
  #rfaber
    +bar(1914, 1933)
  #bruth
    +bar(1914, 1935)
  #gsisler
    +bar(1915, 1930)
  #dbancroft
    +bar(1915, 1930)
  #gkelly
    +bar(1915, 1932)
  #srice
    +bar(1915, 1934)
  #dvance
    +bar(1915, 1935)
  #rhornsby
    +bar(1915, 1937)
  #bgrimes
    +bar(1916, 1934)
  #ryoungs
    +bar(1917, 1926)
  #jhaines
    +bar(1918, 1937)
  #whoyt
    +bar(1918, 1938)
  #ffrisch
    +bar(1919, 1937)
  #jsewell
    +bar(1920, 1933)
  #ptraynor
    +bar(1920, 1937)
  #ggoslin
    +bar(1921, 1938)
  #kcuyler
    +bar(1921, 1938)
  #tjackson
    +bar(1922, 1936)
  #jbottomley
    +bar(1922, 1937)
  #ghartnett
    +bar(1922, 1941)
  #hwilson
    +bar(1923, 1934)
  #bterry
    +bar(1923, 1936)
  #lgehrig
    +bar(1923, 1939)
  #hmanush
    +bar(1923, 1939)
  #tlyons
    +bar(1923, 1946)
  #ecombs
    +bar(1924, 1935)
  #flindstrom
    +bar(1924, 1936)
  #chafey
    +bar(1924, 1937)
  #cgehringer
    +bar(1924, 1942)
  #asimmons
    +bar(1924, 1944)
  #rruffing
    +bar(1924, 1947)
  #mcochrane
    +bar(1925, 1937)
  #lgrove
    +bar(1925, 1941)
  #jfoxx
    +bar(1925, 1945)
  #tlazzeri
    +bar(1926, 1939)
  #pwaner
    +bar(1926, 1945)
  #jcronin
    +bar(1926, 1945)
  #mott
    +bar(1926, 1947)
  #lwaner
    +bar(1927, 1945)
  #chubbell
    +bar(1928, 1943)
  #cklein
    +bar(1928, 1944)
  #bdickey
    +bar(1928, 1946)
  #eaverill
    +bar(1929, 1941)
  #rferrell
    +bar(1929, 1947)
  #lgomez
    +bar(1930, 1943)
  #hgreenberg
    +bar(1930, 1947)
  #ddean
    +bar(1930, 1947)
  #lappling
    +bar(1930, 1950)
  #bherman
    +bar(1931, 1947)
  #elombardi
    +bar(1931, 1947)
  #avaughan
    +bar(1932, 1948)
  #jmedwick
    +bar(1932, 1948)
  #jdimaggio
    +bar(1936, 1951)
  #jmize
    +bar(1936, 1953)
  #bfeller
    +bar(1936, 1956)
  #bdoerr
    +bar(1937, 1951)
  #jgordon
    +bar(1938, 1950)
  #lboudreau
    +bar(1938, 1952)
  #eslaughter
    +bar(1938, 1959)
  #hnewhouser
    +bar(1939, 1955)
  #twilliams
    +bar(1939, 1960)
  #ewynn
    +bar(1939, 1963)
  #preese
    +bar(1940, 1958)
  #prizzuto
    +bar(1941, 1956)
  #smusial
    +bar(1941, 1963)
  #wspahn
    +bar(1942, 1965)
  #gkell
    +bar(1943, 1957)
  #rschoendienst
    +bar(1945, 1963)
  #rkiner
    +bar(1946, 1955)
  #blemon
    +bar(1946, 1958)
  #yberra
    +bar(1946, 1965)
  #jrobinson
    +bar(1947, 1956)
  #ldoby
    +bar(1947, 1959)
  #dsnider
    +bar(1947, 1964)
  #nfox
    +bar(1947, 1965)
  #rcampanella
    +bar(1948, 1957)
  #rashburn
    +bar(1948, 1962)
  #rroberts
    +bar(1948, 1966)
  #wford
    +bar(1950, 1967)
  #mmantle
    +bar(1951, 1968)
  #wmays
    +bar(1951, 1973)
  #emathews
    +bar(1952, 1968)
  #hwilhelm
    +bar(1952, 1972)
  #ebanks
    +bar(1953, 1971)
  #akaline
    +bar(1953, 1974)
  #hkillebrew
    +bar(1954, 1975)
  #haaron
    +bar(1954, 1976)
  #skoufax
    +bar(1955, 1966)
  #jbunning
    +bar(1955, 1971)
  #rclemente
    +bar(1955, 1972)
  #brobinson
    +bar(1955, 1977)
  #ddrysdale
    +bar(1956, 1969)
  #bmazeroski
    +bar(1956, 1972)
  #laparicio
    +bar(1956, 1973)
  #frobinson
    +bar(1956, 1976)
  #ocepeda
    +bar(1958, 1974)
  #bgibson
    +bar(1959, 1975)
  #bwilliams
    +bar(1959, 1976)
  #wmccovey
    +bar(1959, 1980)
  #jmarichal
    +bar(1960, 1975)
  #lbrock
    +bar(1961, 1979)
  #cyastrzemski
    +bar(1961, 1983)
  #wstargell
    +bar(1962, 1982)
  #gperry
    +bar(1962, 1983)
  #jmorgan
    +bar(1963, 1984)
  #tperez
    +bar(1964, 1986)
  #pniekro
    +bar(1964, 1987)
  #chunter
    +bar(1965, 1979)
  #fjenkins
    +bar(1965, 1983)
  #jpalmer
    +bar(1965, 1984)
  #scarlton
    +bar(1965, 1988)
  #dsutton
    +bar(1966, 1988)
  #nryan
    +bar(1966, 1993)
  #jbench
    +bar(1967, 1983)
  #rcarew
    +bar(1967, 1985)
  #tseaver
    +bar(1967, 1986)
  #rjackson
    +bar(1967, 1987)
  #rfingers
    +bar(1968, 1985)
  #cfisk
    +bar(1969, 1993)
  #bblyleven
    +bar(1970, 1992)
  #mschmidt
    +bar(1972, 1989)
  #rgossage
    +bar(1972, 1994)
  #gbrett
    +bar(1973, 1993)
  #dwinfield
    +bar(1973, 1995)
  #jrice
    +bar(1974, 1989)
  #gcarter
    +bar(1974, 1992)
  #ryount
    +bar(1974, 1993)
  #deckersley
    +bar(1975, 1998)
  #bsutter
    +bar(1976, 1988)
  #adawson
    +bar(1976, 1996)
  #emurray
    +bar(1977, 1997)
  #osmith
    +bar(1978, 1996)
  #pmolitor
    +bar(1978, 1998)
  #rhenderson
    +bar(1979, 2003)
  #rsandberg
    +bar(1981, 1997)
  #cripken
    +bar(1981, 2001)
  #wboggs
    +bar(1982, 1999)
  #tgwynn
    +bar(1982, 2001)
  #kpuckett
    +bar(1984, 1995)
  #ralomar
    +bar(1988, 2004)

  // Non-Hall of Famers

  #tbond
    +bar(1874, 1884)
  #jmccormick
    +bar(1878, 1887)
  #jglasscock
    +bar(1879, 1895)
  #tmullane
    +bar(1881, 1894)
  #cbuffinton
    +bar(1882, 1892)
  #emorris
    +bar(1884, 1890)
  #bcaruthers
    +bar(1884, 1892)
  #sking
    +bar(1886, 1897)
  #gweyhing
    +bar(1887, 1901)
  #cchilds
    +bar(1888, 1901)
  #jmcgraw
    +bar(1891, 1906)
  #bdahlen
    +bar(1891, 1911)
  #smagee
    +bar(1904, 1919)
  #ecicotte
    +bar(1905, 1920)
  #jjackson
    +bar(1908, 1920)
  #shack
    +bar(1932, 1947)
  #belliott
    +bar(1939, 1953)
  #bpierce
    +bar(1945, 1964)
  #mminoso
    +bar(1949, 1980)
  #ljackson
    +bar(1955, 1968)
  #kboyer
    +bar(1955, 1969)
  #vpinson
    +bar(1958, 1975)
  #rsanto
    +bar(1960, 1974)
  #jtorre
    +bar(1960, 1977)
  #wdavis
    +bar(1960, 1979)
  #bfreehan
    +bar(1961, 1976)
  #wwood
    +bar(1961, 1978)
  #jfregosi
    +bar(1961, 1978)
  #dallen
    +bar(1963, 1977)
  #jwynn
    +bar(1963, 1977)
  #prose
    +bar(1963, 1986)
  #ltiant
    +bar(1964, 1982)
  #sbando
    +bar(1966, 1981)
  #rsmith
    +bar(1966, 1982)
  #jkoosman
    +bar(1967, 1985)
  #gnettles
    +bar(1967, 1988)
  #bbonds
    +bar(1968, 1981)
  #tsimmons
    +bar(1968, 1988)
  #tmunson
    +bar(1969, 1979)
  #gtenace
    +bar(1969, 1983)
  #daevans
    +bar(1969, 1989)
  #bgrich
    +bar(1970, 1986)
  #ccedeno
    +bar(1970, 1986)
  #rcey
    +bar(1971, 1987)
  #bbell
    +bar(1972, 1989)
  #rreuschel
    +bar(1972, 1991)
  #dwevans
    +bar(1972, 1991)
  #ftanana
    +bar(1973, 1993)
  #khernandez
    +bar(1974, 1990)
  #wrandolph
    +bar(1975, 1992)
  #dmurphy
    +bar(1976, 1993)
  #lwhitaker
    +bar(1977, 1995)
  #atrammell
    +bar(1977, 1996)
  #dstieb
    +bar(1979, 1998)
  #traines
    +bar(1979, 2002)
  #bsaberhagen
    +bar(1984, 2001)
  #wclark
    +bar(1986, 2000)
  #mmcgwire
    +bar(1986, 2001)
  #cfinley
    +bar(1986, 2002)
  #dcone
    +bar(1986, 2003)
  #blarkin
    +bar(1986, 2004)
  #kbrown
    +bar(1986, 2005)
  #rpalmeiro
    +bar(1986, 2005)
  #emartinez
    +bar(1987, 2004)
  #kappier
    +bar(1989, 2004)
  #rventura
    +bar(1989, 2004)
  #lwalker
    +bar(1989, 2005)
  #jolerud
    +bar(1989, 2005)
  #jbagwell
    +bar(1991, 2005)
  #wschang
    +bar(1913, 1931)
  #dwhite
    +bar(1871, 1890)
  #hstovey
    +bar(1880, 1893)
  #tjohn
    +bar(1963, 1989)
  #ohershiser
    +bar(1983, 2000)
  #ggore
    +bar(1879, 1892)
  #dporter
    +bar(1971, 1987)
