body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif;
  background: #eeeeee url(old_mathematics.png);
  font-size: 14px;
  margin: 0; }

header, footer, nav, section, small {
  display: block; }

a {
  text-decoration: none; }
  a:link {
    color: rgba(0, 0, 100, 0.8); }
  a:visited {
    color: rgba(0, 0, 100, 0.6); }
  a:hover, a:active {
    color: #000064; }
  a:active {
    text-decoration: underline; }

#wrapper {
  width: 1120px;
  margin: 0 auto 80px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: #bbbbbb 0 0 8px;
  -moz-box-shadow: #bbbbbb 0 0 8px;
  box-shadow: #bbbbbb 0 0 8px; }

header {
  width: 1160px;
  margin: 40px auto 0;
  position: relative; }
  header h1 {
    font-family: "ChunkFiveRegular";
    margin: 0;
    font-weight: normal;
    font-size: 72px;
    line-height: 1;
    text-shadow: #bbbbbb 0px 0px 8px; }
    header h1 a:link, header h1 a:visited {
      color: #666666; }
    header h1 a:hover, header h1 a:active {
      color: #555555; }
  header h2 {
    color: #333333;
    margin: 0;
    position: absolute;
    right: 0;
    font-size: 18px;
    bottom: 15px; }
  header nav {
    position: absolute;
    right: 0;
    top: 0; }
    header nav #show-visuals {
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      padding: 2px 12px;
      background-color: #eeeeee;
      border: 1px solid #dddddd;
      margin: 0 0 4px;
      white-space: nowrap;
      cursor: pointer;
      background-color: rgba(0, 0, 100, 0.8);
      border: none;
      margin-left: 10px; }
      header nav #show-visuals:hover {
        border-color: #cccccc; }
      header nav #show-visuals.yah {
        background-color: #ffff99; }
      header nav #show-visuals span {
        font-size: 11px;
        color: #666666; }
      header nav #show-visuals:link, header nav #show-visuals:visited, header nav #show-visuals:hover, header nav #show-visuals:active {
        color: white; }
      header nav #show-visuals:hover {
        background-color: #000064; }
    header nav #visuals {
      -webkit-box-shadow: #aaaaaa 0px 0px 10px;
      -moz-box-shadow: #aaaaaa 0px 0px 10px;
      box-shadow: #aaaaaa 0px 0px 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      display: block;
      width: auto;
      border: 2px solid #cccccc;
      background-color: rgba(255, 255, 255, 0.95);
      z-index: 1;
      padding: 10px;
      position: absolute;
      right: 0;
      top: 2em; }
      header nav #visuals dl {
        margin: 0; }
      header nav #visuals dt {
        margin-top: 8px;
        padding-top: 8px;
        border-top: 1px solid #eeeeee; }
        header nav #visuals dt:first-child {
          margin-top: 0;
          padding-top: 0;
          border-top: 0; }
      header nav #visuals dd {
        margin: 2px 0 0 0;
        display: block;
        color: #999999;
        font-size: 12px; }
      header nav #visuals p {
        background-color: #ffffcc;
        border: 1px solid #eeeeee;
        color: #666666;
        font-size: 12px;
        padding: 5px;
        margin-top: 0; }

#key {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  #key ul {
    margin: 0;
    list-style: none;
    padding: 0;
    font-size: 12px; }
  #key li {
    display: inline;
    margin-bottom: 10px; }
  #key span {
    display: inline-block; }
  #key .level1 {
    background-color: #000064; }
  #key .level2 {
    background-color: #333383;
    background-color: rgba(0, 0, 100, 0.8); }
  #key .level3 {
    background-color: #6666a2;
    background-color: rgba(0, 0, 100, 0.6); }
  #key .level4 {
    background-color: #9999c1;
    background-color: rgba(0, 0, 100, 0.4); }
  #key .level5 {
    background-color: #cccce0;
    background-color: rgba(0, 0, 100, 0.2); }
  #key .level1, #key .level2, #key .level3, #key .level4, #key .level5 {
    height: 16px;
    width: 24px;
    text-indent: -9999px; }
  #key .name {
    margin-right: 10px; }

#toggles {
  width: 1120px;
  margin: 20px 0; }
  #toggles dl {
    margin: 0; }
  #toggles dt {
    font-weight: bold;
    margin: 10px 0 5px;
    display: inline-block; }
  #toggles dd {
    display: inline-block;
    margin: 0;
    padding: 0; }
    #toggles dd a {
      color: #333333;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      padding: 2px 12px;
      background-color: #eeeeee;
      border: 1px solid #dddddd;
      margin: 0 0 4px;
      white-space: nowrap;
      cursor: pointer; }
      #toggles dd a:hover {
        border-color: #cccccc; }
      #toggles dd a.yah {
        background-color: #ffff99; }
      #toggles dd a span {
        font-size: 11px;
        color: #666666; }

#timeline, #list {
  width: 1120px;
  background: url(timeline.png) 0 0;
  padding-bottom: 100px; }
  #timeline ul, #list ul {
    list-style: none;
    padding: 40px 0 0;
    margin: 0; }
  #timeline li, #list li {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 0;
    display: block;
    padding: 2px;
    color: white;
    position: relative; }
    #timeline li div, #list li div {
      position: absolute;
      top: 150%;
      color: black;
      font-size: 18px;
      font-weight: bold;
      min-width: 300px;
      -webkit-box-shadow: #aaaaaa 0px 0px 10px;
      -moz-box-shadow: #aaaaaa 0px 0px 10px;
      box-shadow: #aaaaaa 0px 0px 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      display: block;
      width: auto;
      border: 2px solid #cccccc;
      background-color: rgba(255, 255, 255, 0.95);
      z-index: 1;
      padding: 10px; }
      #timeline li div em, #list li div em {
        font-weight: normal;
        font-style: normal;
        font-size: 14px; }
      #timeline li div dl, #list li div dl {
        margin: 8px 0 0;
        white-space: nowrap; }
      #timeline li div dt, #list li div dt {
        font-weight: normal;
        font-size: 14px;
        vertical-align: baseline;
        display: inline-block;
        width: auto;
        color: #999999; }
      #timeline li div dd, #list li div dd {
        font-size: 18px;
        margin: 0;
        padding: 0 4px;
        display: inline-block; }
      #timeline li div small, #list li div small {
        font-weight: normal;
        margin-top: 8px;
        font-size: 11px; }

table {
  width: 100%;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-collapse: collapse; }
  table th, table td {
    padding: 4px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    text-align: right;
    vertical-align: top; }
  table thead th {
    background-color: #eeeeee;
    padding-right: 18px; }
  table thead tr .header {
    background-image: url(http://darowski.com/scripts/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer; }
  table thead tr .headerSortUp {
    background-image: url(http://darowski.com/scripts/asc.gif); }
  table thead tr .headerSortDown {
    background-image: url(http://darowski.com/scripts/desc.gif); }
  table thead tr .headerSortDown, table thead tr .headerSortUp {
    background-color: #666666;
    color: white; }
  table tbody th, table thead tr th:first-child {
    text-align: left; }

#changelog {
  margin-bottom: 40px; }
  #changelog dt {
    font-size: 13px;
    margin-bottom: 4px; }
  #changelog dd {
    margin-left: 0;
    margin-bottom: 10px; }

footer {
  margin-top: 20px;
  line-height: 1.5; }
  footer #credits {
    display: inline-block;
    margin: 0 0 20px; }
    footer #credits a[rel=author] {
      font-weight: bold; }
    footer #credits span {
      color: #999999; }
      footer #credits span a {
        color: #666666; }
        footer #credits span a:hover {
          text-decoration: underline; }
  footer #about-box {
    background-color: #eeeeee;
    padding: 10px;
    border: 1px solid #cccccc; }
    footer #about-box h4 {
      font-size: 18px;
      margin: 0 0 5px; }
  footer p {
    font-size: 12px; }
  footer #social {
    float: right; }
    footer #social iframe {
      vertical-align: top; }

@font-face {
  font-family: "ChunkFiveRegular";
  src: url("fonts/Chunkfive-webfont.eot");
  src: local("☺"), url("fonts/Chunkfive-webfont.woff") format("woff"), url("fonts/Chunkfive-webfont.ttf") format("truetype"), url("fonts/Chunkfive-webfont.svg#webfontb5K2fJwj") format("svg");
  font-weight: normal;
  font-style: normal; }

#about {
  line-height: 1.5;
  border-bottom: 1px solid #eeeeee; }
  #about h1 {
    font-family: "ChunkFiveRegular";
    color: rgba(0, 0, 100, 0.6);
    margin: 0;
    font-weight: normal;
    font-size: 36px; }
  #about .back {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px 12px;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    margin: 0 0 4px;
    white-space: nowrap;
    cursor: pointer; }
    #about .back:hover {
      border-color: #cccccc; }
    #about .back.yah {
      background-color: #ffff99; }
    #about .back span {
      font-size: 11px;
      color: #666666; }

#notification {
  background-color: #ffff99;
  -webkit-box-shadow: #bbbbbb 0 0 8px;
  -moz-box-shadow: #bbbbbb 0 0 8px;
  box-shadow: #bbbbbb 0 0 8px;
  text-align: center;
  color: #666666;
  font-size: 12px; }
  #notification p {
    margin: 0;
    padding: 5px; }
    #notification p a {
      font-weight: bold; }

#ruthba01 {
  margin-left: 352px;
  width: 164px;
  background-color: #000064; }
  #ruthba01 div {
    left: 0; }

#johnswa01 {
  margin-left: 296px;
  width: 156px;
  background-color: #000064; }
  #johnswa01 div {
    left: 0; }

#mayswi01 {
  margin-left: 648px;
  width: 172px;
  background-color: #000064; }
  #mayswi01 div {
    right: 0; }

#youngcy01 {
  margin-left: 160px;
  width: 164px;
  background-color: #000064; }
  #youngcy01 div {
    left: 0; }

#cobbty01 {
  margin-left: 280px;
  width: 180px;
  background-color: #000064; }
  #cobbty01 div {
    left: 0; }

#hornsro01 {
  margin-left: 360px;
  width: 172px;
  background-color: #000064; }
  #hornsro01 div {
    left: 0; }

#aaronha01 {
  margin-left: 672px;
  width: 172px;
  background-color: #000064; }
  #aaronha01 div {
    right: 0; }

#wagneho01 {
  margin-left: 216px;
  width: 156px;
  background-color: #000064; }
  #wagneho01 div {
    left: 0; }

#speaktr01 {
  margin-left: 296px;
  width: 164px;
  background-color: #000064; }
  #speaktr01 div {
    left: 0; }

#willite01 {
  margin-left: 552px;
  width: 164px;
  background-color: #000064; }
  #willite01 div {
    left: 0; }

#musiast01 {
  margin-left: 568px;
  width: 172px;
  background-color: #000064; }
  #musiast01 div {
    left: 0; }

#gehrilo01 {
  margin-left: 424px;
  width: 124px;
  background-color: #000064; }
  #gehrilo01 div {
    left: 0; }

#alexape01 {
  margin-left: 328px;
  width: 148px;
  background-color: #000064; }
  #alexape01 div {
    left: 0; }

#collied01 {
  margin-left: 288px;
  width: 188px;
  background-color: #000064; }
  #collied01 div {
    left: 0; }

#mathech01 {
  margin-left: 240px;
  width: 124px;
  background-color: #000064; }
  #mathech01 div {
    left: 0; }

#grovele01 {
  margin-left: 440px;
  width: 124px;
  background-color: #000064; }
  #grovele01 div {
    left: 0; }

#mantlmi01 {
  margin-left: 648px;
  width: 132px;
  background-color: #000064; }
  #mantlmi01 div {
    left: 0; }

#nichoki01 {
  margin-left: 160px;
  width: 124px;
  background-color: #000064; }
  #nichoki01 div {
    left: 0; }

#schmimi01 {
  margin-left: 816px;
  width: 132px;
  background-color: #000064; }
  #schmimi01 div {
    right: 0; }

#lajoina01 {
  margin-left: 208px;
  width: 156px;
  background-color: #000064; }
  #lajoina01 div {
    left: 0; }

#henderi01 {
  margin-left: 872px;
  width: 188px;
  background-color: #000064; }
  #henderi01 div {
    right: 0; }

#seaveto01 {
  margin-left: 776px;
  width: 148px;
  background-color: #000064; }
  #seaveto01 div {
    right: 0; }

#foxxji01 {
  margin-left: 440px;
  width: 156px;
  background-color: #000064; }
  #foxxji01 div {
    left: 0; }

#ottme01 {
  margin-left: 448px;
  width: 164px;
  background-color: #000064; }
  #ottme01 div {
    left: 0; }

#ansonca01 {
  margin-left: 8px;
  width: 204px;
  background-color: #000064; }
  #ansonca01 div {
    left: 0; }

#benchjo01 {
  margin-left: 776px;
  width: 124px;
  background-color: #000064; }
  #benchjo01 div {
    right: 0; }

#morgajo02 {
  margin-left: 744px;
  width: 164px;
  background-color: #000064; }
  #morgajo02 div {
    right: 0; }

#robinfr02 {
  margin-left: 688px;
  width: 156px;
  background-color: #000064; }
  #robinfr02 div {
    right: 0; }

#matheed01 {
  margin-left: 656px;
  width: 124px;
  background-color: #000064; }
  #matheed01 div {
    left: 0; }

#gibsobo01 {
  margin-left: 712px;
  width: 124px;
  background-color: #000064; }
  #gibsobo01 div {
    right: 0; }

#spahnwa01 {
  margin-left: 576px;
  width: 180px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #spahnwa01 div {
    left: 0; }

#cartega01 {
  margin-left: 832px;
  width: 140px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #cartega01 div {
    right: 0; }

#clemero01 {
  margin-left: 680px;
  width: 132px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #clemero01 div {
    right: 0; }

#broutda01 {
  margin-left: 72px;
  width: 196px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #broutda01 div {
    left: 0; }

#ripkeca01 {
  margin-left: 888px;
  width: 156px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #ripkeca01 div {
    right: 0; }

#boggswa01 {
  margin-left: 896px;
  width: 132px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #boggswa01 div {
    right: 0; }

#connoro01 {
  margin-left: 80px;
  width: 132px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #connoro01 div {
    left: 0; }

#yastrca01 {
  margin-left: 728px;
  width: 172px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #yastrca01 div {
    right: 0; }

#niekrph01 {
  margin-left: 752px;
  width: 180px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #niekrph01 div {
    right: 0; }

#planked01 {
  margin-left: 248px;
  width: 124px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #planked01 div {
    left: 0; }

#blylebe01 {
  margin-left: 800px;
  width: 172px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #blylebe01 div {
    right: 0; }

#brettge01 {
  margin-left: 824px;
  width: 156px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #brettge01 div {
    right: 0; }

#perryga01 {
  margin-left: 736px;
  width: 164px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #perryga01 div {
    right: 0; }

#carltst01 {
  margin-left: 760px;
  width: 180px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #carltst01 div {
    right: 0; }

#kalinal01 {
  margin-left: 664px;
  width: 164px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #kalinal01 div {
    right: 0; }

#roberro01 {
  margin-left: 624px;
  width: 140px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #roberro01 div {
    left: 0; }

#gehrich01 {
  margin-left: 432px;
  width: 140px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #gehrich01 div {
    left: 0; }

#davisge01 {
  margin-left: 160px;
  width: 148px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #davisge01 div {
    left: 0; }

#dimagjo01 {
  margin-left: 528px;
  width: 116px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #dimagjo01 div {
    left: 0; }

#jenkife01 {
  margin-left: 760px;
  width: 140px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #jenkife01 div {
    right: 0; }

#fiskca01 {
  margin-left: 792px;
  width: 188px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #fiskca01 div {
    right: 0; }

#rosepe01 {
  margin-left: 744px;
  width: 180px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #rosepe01 div {
    right: 0; }

#bagweje01 {
  margin-left: 968px;
  width: 108px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #bagweje01 div {
    right: 0; }

#glassja01 {
  margin-left: 72px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #glassja01 div {
    left: 0; }

#vaughar01 {
  margin-left: 496px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #vaughar01 div {
    left: 0; }

#delahed01 {
  margin-left: 144px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #delahed01 div {
    left: 0; }

#walshed01 {
  margin-left: 272px;
  width: 100px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #walshed01 div {
    left: 0; }

#carewro01 {
  margin-left: 776px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #carewro01 div {
    right: 0; }

#santoro01 {
  margin-left: 720px;
  width: 108px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #santoro01 div {
    right: 0; }

#mizejo01 {
  margin-left: 528px;
  width: 132px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #mizejo01 div {
    left: 0; }

#snidedu01 {
  margin-left: 616px;
  width: 132px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #snidedu01 div {
    left: 0; }

#keefeti01 {
  margin-left: 80px;
  width: 100px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #keefeti01 div {
    left: 0; }

#hubbeca01 {
  margin-left: 464px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #hubbeca01 div {
    left: 0; }

#berrayo01 {
  margin-left: 608px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #berrayo01 div {
    left: 0; }

#jacksjo01 {
  margin-left: 304px;
  width: 92px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #jacksjo01 div {
    left: 0; }

#yountro01 {
  margin-left: 832px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #yountro01 div {
    right: 0; }

#robinbr01 {
  margin-left: 680px;
  width: 172px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #robinbr01 div {
    right: 0; }

#clarkjo01 {
  margin-left: 96px;
  width: 92px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #clarkjo01 div {
    left: 0; }

#jacksre01 {
  margin-left: 776px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #jacksre01 div {
    right: 0; }

#wallabo01 {
  margin-left: 192px;
  width: 188px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #wallabo01 div {
    left: 0; }

#bankser01 {
  margin-left: 664px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #bankser01 div {
    right: 0; }

#ferrewe01 {
  margin-left: 456px;
  width: 108px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #ferrewe01 div {
    left: 0; }

#wadderu01 {
  margin-left: 216px;
  width: 100px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #wadderu01 div {
    left: 0; }

#heilmha01 {
  margin-left: 352px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #heilmha01 div {
    left: 0; }

#friscfr01 {
  margin-left: 392px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #friscfr01 div {
    left: 0; }

#walkela01 {
  margin-left: 952px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #walkela01 div {
    right: 0; }

#applilu01 {
  margin-left: 480px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #applilu01 div {
    left: 0; }

#dahlebi01 {
  margin-left: 168px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #dahlebi01 div {
    left: 0; }

#wanerpa01 {
  margin-left: 448px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #wanerpa01 div {
    left: 0; }

#vanceda01 {
  margin-left: 360px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #vanceda01 div {
    left: 0; }

#ryanno01 {
  margin-left: 768px;
  width: 212px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #ryanno01 div {
    right: 0; }

#crawfsa01 {
  margin-left: 232px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #crawfsa01 div {
    left: 0; }

#bakerfr01 {
  margin-left: 304px;
  width: 108px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #bakerfr01 div {
    left: 0; }

#robinja02 {
  margin-left: 616px;
  width: 68px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #robinja02 div {
    left: 0; }

#newhoha01 {
  margin-left: 552px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #newhoha01 div {
    left: 0; }

#smithoz01 {
  margin-left: 864px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #smithoz01 div {
    right: 0; }

#willivi01 {
  margin-left: 224px;
  width: 92px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #willivi01 div {
    left: 0; }

#maricju01 {
  margin-left: 720px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #maricju01 div {
    right: 0; }

#fellebo01 {
  margin-left: 528px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #fellebo01 div {
    left: 0; }

#mcginjo01 {
  margin-left: 232px;
  width: 68px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #mcginjo01 div {
    left: 0; }

#palmeji01 {
  margin-left: 760px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #palmeji01 div {
    right: 0; }

#dickebi01 {
  margin-left: 464px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #dickebi01 div {
    left: 0; }

#molitpa01 {
  margin-left: 864px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #molitpa01 div {
    right: 0; }

#hamilbi01 {
  margin-left: 144px;
  width: 100px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #hamilbi01 div {
    left: 0; }

#simmoal01 {
  margin-left: 432px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #simmoal01 div {
    left: 0; }

#rusieam01 {
  margin-left: 152px;
  width: 92px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #rusieam01 div {
    left: 0; }

#grichbo01 {
  margin-left: 800px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #grichbo01 div {
    right: 0; }

#boudrlo01 {
  margin-left: 544px;
  width: 108px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #boudrlo01 div {
    left: 0; }

#cochrmi01 {
  margin-left: 440px;
  width: 92px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #cochrmi01 div {
    left: 0; }

#trammal01 {
  margin-left: 856px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #trammal01 div {
    right: 0; }

#sandbry01 {
  margin-left: 888px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #sandbry01 div {
    right: 0; }

#spaldal01 {
  margin-left: 8px;
  width: 52px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #spaldal01 div {
    left: 0; }

#brownke01 {
  margin-left: 928px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #brownke01 div {
    right: 0; }

#larkiba01 {
  margin-left: 928px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #larkiba01 div {
    right: 0; }

#covelst01 {
  margin-left: 336px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #covelst01 div {
    left: 0; }

#whitalo01 {
  margin-left: 856px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #whitalo01 div {
    right: 0; }

#drysddo01 {
  margin-left: 688px;
  width: 100px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #drysddo01 div {
    left: 0; }

#reuscri01 {
  margin-left: 816px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #reuscri01 div {
    right: 0; }

#tiantlu01 {
  margin-left: 752px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #tiantlu01 div {
    right: 0; }

#sislege01 {
  margin-left: 360px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #sislege01 div {
    left: 0; }

#bunniji01 {
  margin-left: 680px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #bunniji01 div {
    right: 0; }

#martied01 {
  margin-left: 936px;
  width: 132px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #martied01 div {
    right: 0; }

#lyonste01 {
  margin-left: 424px;
  width: 180px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #lyonste01 div {
    left: 0; }

#ruffire01 {
  margin-left: 432px;
  width: 180px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #ruffire01 div {
    left: 0; }

#reesepe01 {
  margin-left: 560px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #reesepe01 div {
    left: 0; }

#bondto01 {
  margin-left: 32px;
  width: 76px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #bondto01 div {
    left: 0; }

#cronijo01 {
  margin-left: 448px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #cronijo01 div {
    left: 0; }

#orouji01 {
  margin-left: 16px;
  width: 252px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #orouji01 div {
    left: 0; }

#mccorji01 {
  margin-left: 64px;
  width: 68px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #mccorji01 div {
    left: 0; }

#whitede01 {
  margin-left: 8px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #whitede01 div {
    left: 0; }

#radboch01 {
  margin-left: 88px;
  width: 76px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #radboch01 div {
    left: 0; }

#ashburi01 {
  margin-left: 624px;
  width: 108px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #ashburi01 div {
    left: 0; }

#gwynnto01 {
  margin-left: 896px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #gwynnto01 div {
    right: 0; }

#munsoth01 {
  margin-left: 792px;
  width: 76px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #munsoth01 div {
    right: 0; }

#clarkfr01 {
  margin-left: 192px;
  width: 164px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #clarkfr01 div {
    left: 0; }

#greenha01 {
  margin-left: 480px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #greenha01 div {
    left: 0; }

#alomaro01 {
  margin-left: 944px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #alomaro01 div {
    right: 0; }

#boyerke01 {
  margin-left: 680px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #boyerke01 div {
    left: 0; }

#burkeje01 {
  margin-left: 160px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #burkeje01 div {
    left: 0; }

#raineti01 {
  margin-left: 872px;
  width: 180px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #raineti01 div {
    right: 0; }

#faberre01 {
  margin-left: 352px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #faberre01 div {
    left: 0; }

#koufasa01 {
  margin-left: 680px;
  width: 84px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #koufasa01 div {
    left: 0; }

#gosligo01 {
  margin-left: 408px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #gosligo01 div {
    left: 0; }

#ewingbu01 {
  margin-left: 80px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #ewingbu01 div {
    left: 0; }

#woodwi01 {
  margin-left: 728px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #woodwi01 div {
    right: 0; }

#carutbo01 {
  margin-left: 112px;
  width: 68px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #carutbo01 div {
    left: 0; }

#torrejo01 {
  margin-left: 720px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #torrejo01 div {
    right: 0; }

#buffich01 {
  margin-left: 96px;
  width: 76px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #buffich01 div {
    left: 0; }

#coneda01 {
  margin-left: 928px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #coneda01 div {
    right: 0; }

#simmote01 {
  margin-left: 784px;
  width: 156px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #simmote01 div {
    right: 0; }

#mccovwi01 {
  margin-left: 712px;
  width: 164px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #mccovwi01 div {
    right: 0; }

#wardjo01 {
  margin-left: 64px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #wardjo01 div {
    left: 0; }

#griffcl01 {
  margin-left: 168px;
  width: 180px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #griffcl01 div {
    left: 0; }

#kellyki01 {
  margin-left: 64px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #kellyki01 div {
    left: 0; }

#nettlgr01 {
  margin-left: 776px;
  width: 164px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #nettlgr01 div {
    right: 0; }

#palmera01 {
  margin-left: 928px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #palmera01 div {
    right: 0; }

#hartnga01 {
  margin-left: 416px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #hartnga01 div {
    left: 0; }

#gossari01 {
  margin-left: 816px;
  width: 172px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #gossari01 div {
    right: 0; }

#allendi01 {
  margin-left: 744px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #allendi01 div {
    right: 0; }

#dawsoan01 {
  margin-left: 848px;
  width: 156px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #dawsoan01 div {
    right: 0; }

#gordojo01 {
  margin-left: 544px;
  width: 92px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #gordojo01 div {
    left: 0; }

#cicoted01 {
  margin-left: 280px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #cicoted01 div {
    left: 0; }

#eckerde01 {
  margin-left: 840px;
  width: 180px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #eckerde01 div {
    right: 0; }

#murraed02 {
  margin-left: 856px;
  width: 156px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #murraed02 div {
    right: 0; }

#bennech01 {
  margin-left: 64px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #bennech01 div {
    left: 0; }

#bandosa01 {
  margin-left: 768px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #bandosa01 div {
    right: 0; }

#willibi01 {
  margin-left: 712px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #willibi01 div {
    right: 0; }

#evansdw01 {
  margin-left: 816px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #evansdw01 div {
    right: 0; }

#bellbu01 {
  margin-left: 816px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #bellbu01 div {
    right: 0; }

#saberbr01 {
  margin-left: 912px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #saberbr01 div {
    right: 0; }

#brownmo01 {
  margin-left: 264px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #brownmo01 div {
    left: 0; }

#hahnno01 {
  margin-left: 232px;
  width: 52px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #hahnno01 div {
    left: 0; }

#mcgwima01 {
  margin-left: 928px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #mcgwima01 div {
    right: 0; }

#hinespa01 {
  margin-left: 16px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #hinespa01 div {
    left: 0; }

#hernake01 {
  margin-left: 832px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #hernake01 div {
    right: 0; }

#waltebu01 {
  margin-left: 488px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #waltebu01 div {
    left: 0; }

#randowi01 {
  margin-left: 840px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #randowi01 div {
    right: 0; }

#smithre06 {
  margin-left: 768px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #smithre06 div {
    right: 0; }

#galvipu01 {
  margin-left: 40px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #galvipu01 div {
    left: 0; }

#stiebda01 {
  margin-left: 872px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #stiebda01 div {
    right: 0; }

#shockur01 {
  margin-left: 368px;
  width: 92px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #shockur01 div {
    left: 0; }

#wynnji01 {
  margin-left: 744px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #wynnji01 div {
    right: 0; }

#bondsbo01 {
  margin-left: 784px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #bondsbo01 div {
    right: 0; }

#wilheho01 {
  margin-left: 656px;
  width: 156px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #wilheho01 div {
    right: 0; }

#winfida01 {
  margin-left: 824px;
  width: 172px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #winfida01 div {
    right: 0; }

#ruckena01 {
  margin-left: 296px;
  width: 68px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #ruckena01 div {
    left: 0; }

#hershor01 {
  margin-left: 904px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #hershor01 div {
    right: 0; }

#tenacge01 {
  margin-left: 792px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #tenacge01 div {
    right: 0; }

#terrybi01 {
  margin-left: 424px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #terrybi01 div {
    left: 0; }

#wynnea01 {
  margin-left: 552px;
  width: 188px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #wynnea01 div {
    left: 0; }

#mageesh01 {
  margin-left: 272px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #mageesh01 div {
    left: 0; }

#uhlege01 {
  margin-left: 392px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #uhlege01 div {
    left: 0; }

#appieke01 {
  margin-left: 952px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #appieke01 div {
    right: 0; }

#grimebu01 {
  margin-left: 368px;
  width: 140px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #grimebu01 div {
    left: 0; }

#willine01 {
  margin-left: 64px;
  width: 92px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #willine01 div {
    left: 0; }

#flickel01 {
  margin-left: 224px;
  width: 92px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #flickel01 div {
    left: 0; }

#suttodo01 {
  margin-left: 768px;
  width: 172px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #suttodo01 div {
    right: 0; }

#medwijo01 {
  margin-left: 496px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #medwijo01 div {
    left: 0; }

#adamsba01 {
  margin-left: 288px;
  width: 156px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #adamsba01 div {
    left: 0; }

#becklja01 {
  margin-left: 144px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #becklja01 div {
    left: 0; }

#kinerra01 {
  margin-left: 608px;
  width: 68px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #kinerra01 div {
    left: 0; }

#evansda01 {
  margin-left: 792px;
  width: 156px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #evansda01 div {
    right: 0; }

#breitte01 {
  margin-left: 168px;
  width: 76px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #breitte01 div {
    left: 0; }

#tanneje01 {
  margin-left: 192px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #tanneje01 div {
    left: 0; }

#daviswi02 {
  margin-left: 720px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #daviswi02 div {
    right: 0; }

#colliji01 {
  margin-left: 200px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #colliji01 div {
    left: 0; }

#wheatza01 {
  margin-left: 312px;
  width: 140px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #wheatza01 div {
    left: 0; }

#killeha01 {
  margin-left: 672px;
  width: 164px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #killeha01 div {
    right: 0; }

#keelewi01 {
  margin-left: 176px;
  width: 140px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #keelewi01 div {
    left: 0; }

#goodedw01 {
  margin-left: 912px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #goodedw01 div {
    right: 0; }

#freehbi01 {
  margin-left: 728px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #freehbi01 div {
    right: 0; }

#finlech01 {
  margin-left: 928px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #finlech01 div {
    right: 0; }

#olerujo01 {
  margin-left: 952px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #olerujo01 div {
    right: 0; }

#stargwi01 {
  margin-left: 736px;
  width: 156px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #stargwi01 div {
    right: 0; }

#coopewi01 {
  margin-left: 336px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #coopewi01 div {
    left: 0; }

#powelja01 {
  margin-left: 216px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #powelja01 div {
    left: 0; }

#fordwh01 {
  margin-left: 640px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #fordwh01 div {
    left: 0; }

#mullato01 {
  margin-left: 88px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #mullato01 div {
    left: 0; }

#welchmi01 {
  margin-left: 80px;
  width: 92px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #welchmi01 div {
    left: 0; }

#deandi01 {
  margin-left: 480px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #deandi01 div {
    left: 0; }

#jennihu01 {
  margin-left: 168px;
  width: 212px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #jennihu01 div {
    left: 0; }

#kellejo01 {
  margin-left: 168px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #kellejo01 div {
    left: 0; }

#lombaer01 {
  margin-left: 488px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #lombaer01 div {
    left: 0; }

#hermabi01 {
  margin-left: 488px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #hermabi01 div {
    left: 0; }

#careyma01 {
  margin-left: 320px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #careyma01 div {
    left: 0; }

#dobyla01 {
  margin-left: 616px;
  width: 92px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #dobyla01 div {
    left: 0; }

#rixeyep01 {
  margin-left: 336px;
  width: 164px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #rixeyep01 div {
    left: 0; }

#tinkejo01 {
  margin-left: 256px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #tinkejo01 div {
    left: 0; }

#puckeki01 {
  margin-left: 912px;
  width: 84px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #puckeki01 div {
    right: 0; }

#slaugen01 {
  margin-left: 544px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #slaugen01 div {
    left: 0; }

#bendech01 {
  margin-left: 264px;
  width: 172px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #bendech01 div {
    left: 0; }

#seweljo01 {
  margin-left: 400px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #seweljo01 div {
    left: 0; }

#perezto01 {
  margin-left: 752px;
  width: 172px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #perezto01 div {
    right: 0; }

#lemonbo01 {
  margin-left: 568px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #lemonbo01 div {
    left: 0; }

#chancfr01 {
  margin-left: 224px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #chancfr01 div {
    left: 0; }

#hoopeha01 {
  margin-left: 312px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #hoopeha01 div {
    left: 0; }

#mcphebi01 {
  margin-left: 96px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #mcphebi01 div {
    left: 0; }

#camparo01 {
  margin-left: 624px;
  width: 68px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #camparo01 div {
    left: 0; }

#bancrda01 {
  margin-left: 360px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #bancrda01 div {
    left: 0; }

#foxne01 {
  margin-left: 616px;
  width: 140px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #foxne01 div {
    left: 0; }

#bresnro01 {
  margin-left: 216px;
  width: 140px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #bresnro01 div {
    left: 0; }

#hoytwa01 {
  margin-left: 384px;
  width: 156px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #hoytwa01 div {
    left: 0; }

#jossad01 {
  margin-left: 256px;
  width: 60px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #jossad01 div {
    left: 0; }

#doerrbo01 {
  margin-left: 536px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #doerrbo01 div {
    left: 0; }

#averiea01 {
  margin-left: 472px;
  width: 92px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #averiea01 div {
    left: 0; }

#lazzeto01 {
  margin-left: 448px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #lazzeto01 div {
    left: 0; }

#cuyleki01 {
  margin-left: 408px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #cuyleki01 div {
    left: 0; }

#thompsa01 {
  margin-left: 120px;
  width: 164px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #thompsa01 div {
    left: 0; }

#eversjo01 {
  margin-left: 256px;
  width: 212px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #eversjo01 div {
    left: 0; }

#aparilu01 {
  margin-left: 688px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #aparilu01 div {
    right: 0; }

#kleinch01 {
  margin-left: 464px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #kleinch01 div {
    left: 0; }

#chesbja01 {
  margin-left: 232px;
  width: 76px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #chesbja01 div {
    left: 0; }

#riceji01 {
  margin-left: 832px;
  width: 116px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #riceji01 div {
    right: 0; }

#cepedor01 {
  margin-left: 704px;
  width: 124px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #cepedor01 div {
    right: 0; }

#ricesa01 {
  margin-left: 360px;
  width: 148px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #ricesa01 div {
    left: 0; }

#jackstr01 {
  margin-left: 416px;
  width: 108px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #jackstr01 div {
    left: 0; }

#gomezle01 {
  margin-left: 480px;
  width: 100px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #gomezle01 div {
    left: 0; }

#manushe01 {
  margin-left: 424px;
  width: 124px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #manushe01 div {
    left: 0; }

#duffyhu01 {
  margin-left: 144px;
  width: 140px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #duffyhu01 div {
    left: 0; }

#roushed01 {
  margin-left: 344px;
  width: 140px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #roushed01 div {
    left: 0; }

#pennohe01 {
  margin-left: 336px;
  width: 172px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #pennohe01 div {
    left: 0; }

#wilsoha01 {
  margin-left: 424px;
  width: 84px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #wilsoha01 div {
    left: 0; }

#combsea01 {
  margin-left: 432px;
  width: 84px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #combsea01 div {
    left: 0; }

#brocklo01 {
  margin-left: 728px;
  width: 140px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #brocklo01 div {
    right: 0; }

#hunteca01 {
  margin-left: 760px;
  width: 108px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #hunteca01 div {
    right: 0; }

#suttebr01 {
  margin-left: 848px;
  width: 92px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #suttebr01 div {
    right: 0; }

#rizzuph01 {
  margin-left: 568px;
  width: 116px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #rizzuph01 div {
    left: 0; }

#schoere01 {
  margin-left: 600px;
  width: 140px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #schoere01 div {
    left: 0; }

#maranra01 {
  margin-left: 336px;
  width: 180px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #maranra01 div {
    left: 0; }

#kellge01 {
  margin-left: 584px;
  width: 108px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #kellge01 div {
    left: 0; }

#youngro01 {
  margin-left: 376px;
  width: 68px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #youngro01 div {
    left: 0; }

#bottoji01 {
  margin-left: 416px;
  width: 116px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #bottoji01 div {
    left: 0; }

#fingero01 {
  margin-left: 784px;
  width: 132px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #fingero01 div {
    right: 0; }

#traynpi01 {
  margin-left: 400px;
  width: 132px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #traynpi01 div {
    left: 0; }

#schalra01 {
  margin-left: 336px;
  width: 132px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #schalra01 div {
    left: 0; }

#marquru01 {
  margin-left: 304px;
  width: 132px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #marquru01 div {
    left: 0; }

#ferreri01 {
  margin-left: 472px;
  width: 140px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #ferreri01 div {
    left: 0; }

#haineje01 {
  margin-left: 384px;
  width: 148px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #haineje01 div {
    left: 0; }

#mazerbi01 {
  margin-left: 688px;
  width: 124px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #mazerbi01 div {
    right: 0; }

#lindsfr01 {
  margin-left: 432px;
  width: 92px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #lindsfr01 div {
    left: 0; }

#hafeych01 {
  margin-left: 432px;
  width: 100px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #hafeych01 div {
    left: 0; }

#kellyge01 {
  margin-left: 360px;
  width: 132px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #kellyge01 div {
    left: 0; }

#wanerll01 {
  margin-left: 456px;
  width: 140px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #wanerll01 div {
    left: 0; }

#mccarto01 {
  margin-left: 112px;
  width: 92px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #mccarto01 div {
    left: 0; }

#bondsba01 {
  margin-left: 928px;
  width: 164px;
  background-color: #000064; }
  #bondsba01 div {
    right: 0; }

#clemero02 {
  margin-left: 912px;
  width: 180px;
  background-color: #000064; }
  #clemero02 div {
    right: 0; }

#rodrial01 {
  margin-left: 992px;
  width: 132px;
  background-color: #000064; }
  #rodrial01 div {
    right: 0; }

#johnsra05 {
  margin-left: 944px;
  width: 164px;
  background-color: #000064; }
  #johnsra05 div {
    right: 0; }

#maddugr01 {
  margin-left: 928px;
  width: 172px;
  background-color: #000064; }
  #maddugr01 div {
    right: 0; }

#pujolal01 {
  margin-left: 1048px;
  width: 76px;
  background-color: #000064; }
  #pujolal01 div {
    right: 0; }

#martipe02 {
  margin-left: 976px;
  width: 132px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #martipe02 div {
    right: 0; }

#riverma01 {
  margin-left: 1000px;
  width: 124px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #riverma01 div {
    right: 0; }

#griffke02 {
  margin-left: 952px;
  width: 164px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #griffke02 div {
    right: 0; }

#schilcu01 {
  margin-left: 944px;
  width: 148px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #schilcu01 div {
    right: 0; }

#rodriiv01 {
  margin-left: 968px;
  width: 156px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #rodriiv01 div {
    right: 0; }

#piazzmi01 {
  margin-left: 976px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #piazzmi01 div {
    right: 0; }

#mussimi01 {
  margin-left: 968px;
  width: 132px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #mussimi01 div {
    right: 0; }

#jonesch06 {
  margin-left: 984px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #jonesch06 div {
    right: 0; }

#glavito02 {
  margin-left: 936px;
  width: 164px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #glavito02 div {
    right: 0; }

#hallaro01 {
  margin-left: 1024px;
  width: 100px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #hallaro01 div {
    right: 0; }

#thomafr04 {
  margin-left: 960px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #thomafr04 div {
    right: 0; }

#jeterde01 {
  margin-left: 1000px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #jeterde01 div {
    right: 0; }

#rolensc01 {
  margin-left: 1008px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #rolensc01 div {
    right: 0; }

#smoltjo01 {
  margin-left: 944px;
  width: 164px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #smoltjo01 div {
    right: 0; }

#biggicr01 {
  margin-left: 944px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #biggicr01 div {
    right: 0; }

#ramirma02 {
  margin-left: 984px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #ramirma02 div {
    right: 0; }

#thomeji01 {
  margin-left: 968px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #thomeji01 div {
    right: 0; }

#loftoke01 {
  margin-left: 968px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #loftoke01 div {
    right: 0; }

#jonesan01 {
  margin-left: 1008px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #jonesan01 div {
    right: 0; }

#beltrca01 {
  margin-left: 1024px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #beltrca01 div {
    right: 0; }

#heltoto01 {
  margin-left: 1016px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #heltoto01 div {
    right: 0; }

#utleych01 {
  margin-left: 1064px;
  width: 60px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #utleych01 div {
    right: 0; }

#sosasa01 {
  margin-left: 952px;
  width: 140px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #sosasa01 div {
    right: 0; }

#edmonji01 {
  margin-left: 984px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #edmonji01 div {
    right: 0; }

#suzukic01 {
  margin-left: 1048px;
  width: 76px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #suzukic01 div {
    right: 0; }

#abreubo01 {
  margin-left: 1008px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #abreubo01 div {
    right: 0; }

#santajo02 {
  margin-left: 1040px;
  width: 76px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #santajo02 div {
    right: 0; }

#beltrad01 {
  margin-left: 1024px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #beltrad01 div {
    right: 0; }

#guerrvl01 {
  margin-left: 1008px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #guerrvl01 div {
    right: 0; }

#sheffga01 {
  margin-left: 944px;
  width: 164px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #sheffga01 div {
    right: 0; }

#giambja01 {
  margin-left: 1000px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #giambja01 div {
    right: 0; }
