#induction-line {
  display: block;
  background-color: #ffffcc;
  width: 457.2px;
  position: absolute;
  top: 40px;
  border-right: 1px solid orange; }
  #induction-line:after {
    content: "Induction Line (76.2 wWAR)";
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #666666; }

#list {
  background-image: none;
  position: relative;
  padding-bottom: 50px; }
  #list #jeff-bagwell {
    width: 791.6px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #jeff-bagwell div {
      left: 20px; }
    #list #jeff-bagwell:hover {
      background-color: #000064; }
  #list #bob-caruthers {
    width: 720.8px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #bob-caruthers div {
      left: 20px; }
    #list #bob-caruthers:hover {
      background-color: #000064; }
  #list #pete-rose {
    width: 692.6px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #pete-rose div {
      left: 20px; }
    #list #pete-rose:hover {
      background-color: #000064; }
  #list #shoeless-joe-jackson {
    width: 686px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #shoeless-joe-jackson div {
      left: 20px; }
    #list #shoeless-joe-jackson:hover {
      background-color: #000064; }
  #list #bill-dahlen {
    width: 675.2px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #bill-dahlen div {
      left: 20px; }
    #list #bill-dahlen:hover {
      background-color: #000064; }
  #list #ron-santo {
    width: 658.4px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #ron-santo div {
      left: 20px; }
    #list #ron-santo:hover {
      background-color: #000064; }
  #list #ted-simmons {
    width: 611px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #ted-simmons div {
      left: 20px; }
    #list #ted-simmons:hover {
      background-color: #000064; }
  #list #joe-torre {
    width: 600.2px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #joe-torre div {
      left: 20px; }
    #list #joe-torre:hover {
      background-color: #000064; }
  #list #edgar-martinez {
    width: 599px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #edgar-martinez div {
      left: 20px; }
    #list #edgar-martinez:hover {
      background-color: #000064; }
  #list #barry-larkin {
    width: 597.2px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #barry-larkin div {
      left: 20px; }
    #list #barry-larkin:hover {
      background-color: #000064; }
  #list #bobby-grich {
    width: 595.4px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #bobby-grich div {
      left: 20px; }
    #list #bobby-grich:hover {
      background-color: #000064; }
  #list #alan-trammell {
    width: 591.8px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #alan-trammell div {
      left: 20px; }
    #list #alan-trammell:hover {
      background-color: #000064; }
  #list #larry-walker {
    width: 588.8px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #larry-walker div {
      left: 20px; }
    #list #larry-walker:hover {
      background-color: #000064; }
  #list #dick-allen {
    width: 584.6px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #dick-allen div {
      left: 20px; }
    #list #dick-allen:hover {
      background-color: #000064; }
  #list #kevin-brown {
    width: 571.4px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #kevin-brown div {
      left: 20px; }
    #list #kevin-brown:hover {
      background-color: #000064; }
  #list #jim-wynn {
    width: 566.6px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #jim-wynn div {
      left: 20px; }
    #list #jim-wynn:hover {
      background-color: #000064; }
  #list #lou-whitaker {
    width: 556.4px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #lou-whitaker div {
      left: 20px; }
    #list #lou-whitaker:hover {
      background-color: #000064; }
  #list #wes-ferrell {
    width: 555.2px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #wes-ferrell div {
      left: 20px; }
    #list #wes-ferrell:hover {
      background-color: #000064; }
  #list #thurman-munson {
    width: 544.4px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #thurman-munson div {
      left: 20px; }
    #list #thurman-munson:hover {
      background-color: #000064; }
  #list #mark-mcgwire {
    width: 543.8px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #mark-mcgwire div {
      left: 20px; }
    #list #mark-mcgwire:hover {
      background-color: #000064; }
  #list #keith-hernandez {
    width: 540.8px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #keith-hernandez div {
      left: 20px; }
    #list #keith-hernandez:hover {
      background-color: #000064; }
  #list #tim-raines {
    width: 534.8px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #tim-raines div {
      left: 20px; }
    #list #tim-raines:hover {
      background-color: #000064; }
  #list #rafael-palmeiro {
    width: 533.6px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #rafael-palmeiro div {
      left: 20px; }
    #list #rafael-palmeiro:hover {
      background-color: #000064; }
  #list #ken-boyer {
    width: 518px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #ken-boyer div {
      left: 20px; }
    #list #ken-boyer:hover {
      background-color: #000064; }
  #list #david-cone {
    width: 515px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #david-cone div {
      left: 20px; }
    #list #david-cone:hover {
      background-color: #000064; }
  #list #luis-tiant {
    width: 513.8px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #luis-tiant div {
      left: 20px; }
    #list #luis-tiant:hover {
      background-color: #000064; }
  #list #reggie-smith {
    width: 504.8px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #reggie-smith div {
      left: 20px; }
    #list #reggie-smith:hover {
      background-color: #000064; }
  #list #dwight-evans {
    width: 503.6px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #dwight-evans div {
      left: 20px; }
    #list #dwight-evans:hover {
      background-color: #000064; }
  #list #john-olerud {
    width: 500px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #john-olerud div {
      left: 20px; }
    #list #john-olerud:hover {
      background-color: #000064; }
  #list #will-clark {
    width: 495.8px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #will-clark div {
      left: 20px; }
    #list #will-clark:hover {
      background-color: #000064; }
  #list #graig-nettles {
    width: 491px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #graig-nettles div {
      left: 20px; }
    #list #graig-nettles:hover {
      background-color: #000064; }
  #list #orel-hershiser {
    width: 489.8px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #orel-hershiser div {
      left: 20px; }
    #list #orel-hershiser:hover {
      background-color: #000064; }
  #list #minnie-minoso {
    width: 482.6px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #minnie-minoso div {
      left: 20px; }
    #list #minnie-minoso:hover {
      background-color: #000064; }
  #list #bobby-bonds {
    width: 479.6px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #bobby-bonds div {
      left: 20px; }
    #list #bobby-bonds:hover {
      background-color: #000064; }
  #list #darrell-evans {
    width: 465.8px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #darrell-evans div {
      left: 20px; }
    #list #darrell-evans:hover {
      background-color: #000064; }
  #list #willie-randolph {
    width: 465.2px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #willie-randolph div {
      left: 20px; }
    #list #willie-randolph:hover {
      background-color: #000064; }
  #list #tommy-john {
    width: 430.4px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #tommy-john div {
      left: 20px; }
    #list #tommy-john:hover {
      background-color: #000064; }
  #list #fred-mcgriff {
    width: 420.8px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #fred-mcgriff div {
      left: 20px; }
    #list #fred-mcgriff:hover {
      background-color: #000064; }
  #list #dale-murphy {
    width: 414.2px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #dale-murphy div {
      left: 20px; }
    #list #dale-murphy:hover {
      background-color: #000064; }
  #list #bernie-williams {
    width: 408.2px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #bernie-williams div {
      left: 20px; }
    #list #bernie-williams:hover {
      background-color: #000064; }
  #list #ron-guidry {
    width: 383px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #ron-guidry div {
      left: 20px; }
    #list #ron-guidry:hover {
      background-color: #000064; }
  #list #gil-hodges {
    width: 381.2px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #gil-hodges div {
      left: 20px; }
    #list #gil-hodges:hover {
      background-color: #000064; }
  #list #tony-oliva {
    width: 374.6px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #tony-oliva div {
      left: 20px; }
    #list #tony-oliva:hover {
      background-color: #000064; }
  #list #jim-kaat {
    width: 359px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #jim-kaat div {
      left: 20px; }
    #list #jim-kaat:hover {
      background-color: #000064; }
  #list #albert-belle {
    width: 347.6px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #albert-belle div {
      left: 20px; }
    #list #albert-belle:hover {
      background-color: #000064; }
  #list #dave-parker {
    width: 341px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #dave-parker div {
      left: 20px; }
    #list #dave-parker:hover {
      background-color: #000064; }
  #list #don-mattingly {
    width: 338.6px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #don-mattingly div {
      left: 20px; }
    #list #don-mattingly:hover {
      background-color: #000064; }
  #list #roger-maris {
    width: 330.8px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #roger-maris div {
      left: 20px; }
    #list #roger-maris:hover {
      background-color: #000064; }
  #list #steve-garvey {
    width: 276.8px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #steve-garvey div {
      left: 20px; }
    #list #steve-garvey:hover {
      background-color: #000064; }
  #list #dave-concepcion {
    width: 245.6px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #dave-concepcion div {
      left: 20px; }
    #list #dave-concepcion:hover {
      background-color: #000064; }
  #list #harold-baines {
    width: 240.2px;
    background-color: rgba(0, 0, 100, 0.8); }
    #list #harold-baines div {
      left: 20px; }
    #list #harold-baines:hover {
      background-color: #000064; }
