#about {
  border-bottom: 0;
  margin-bottom: 2em; }

#timeline #babe-ruth {
  margin-left: 352px;
  width: 164px;
  background-color: #000064; }
  #timeline #babe-ruth div {
    left: 0; }
#timeline #ty-cobb {
  margin-left: 280px;
  width: 180px;
  background-color: #000064; }
  #timeline #ty-cobb div {
    left: 0; }
#timeline #willie-mays {
  margin-left: 648px;
  width: 172px;
  background-color: #000064; }
  #timeline #willie-mays div {
    right: 0; }
#timeline #walter-johnson {
  margin-left: 296px;
  width: 156px;
  background-color: #000064; }
  #timeline #walter-johnson div {
    left: 0; }
#timeline #honus-wagner {
  margin-left: 216px;
  width: 156px;
  background-color: #000064; }
  #timeline #honus-wagner div {
    left: 0; }
#timeline #rogers-hornsby {
  margin-left: 360px;
  width: 172px;
  background-color: #000064; }
  #timeline #rogers-hornsby div {
    left: 0; }
#timeline #hank-aaron {
  margin-left: 672px;
  width: 172px;
  background-color: #000064; }
  #timeline #hank-aaron div {
    right: 0; }
#timeline #tris-speaker {
  margin-left: 296px;
  width: 164px;
  background-color: #000064; }
  #timeline #tris-speaker div {
    left: 0; }
#timeline #lou-gehrig {
  margin-left: 424px;
  width: 124px;
  background-color: #000064; }
  #timeline #lou-gehrig div {
    left: 0; }
#timeline #ted-williams {
  margin-left: 552px;
  width: 164px;
  background-color: #000064; }
  #timeline #ted-williams div {
    left: 0; }
#timeline #eddie-collins {
  margin-left: 288px;
  width: 188px;
  background-color: #000064; }
  #timeline #eddie-collins div {
    left: 0; }
#timeline #stan-musial {
  margin-left: 568px;
  width: 172px;
  background-color: #000064; }
  #timeline #stan-musial div {
    left: 0; }
#timeline #cy-young {
  margin-left: 160px;
  width: 164px;
  background-color: #000064; }
  #timeline #cy-young div {
    left: 0; }
#timeline #mickey-mantle {
  margin-left: 648px;
  width: 132px;
  background-color: #000064; }
  #timeline #mickey-mantle div {
    left: 0; }
#timeline #mike-schmidt {
  margin-left: 816px;
  width: 132px;
  background-color: #000064; }
  #timeline #mike-schmidt div {
    right: 0; }
#timeline #rickey-henderson {
  margin-left: 872px;
  width: 188px;
  background-color: #000064; }
  #timeline #rickey-henderson div {
    right: 0; }
#timeline #pete-alexander {
  margin-left: 328px;
  width: 148px;
  background-color: #000064; }
  #timeline #pete-alexander div {
    left: 0; }
#timeline #cap-anson {
  margin-left: 8px;
  width: 204px;
  background-color: #000064; }
  #timeline #cap-anson div {
    left: 0; }
#timeline #mel-ott {
  margin-left: 448px;
  width: 164px;
  background-color: #000064; }
  #timeline #mel-ott div {
    left: 0; }
#timeline #nap-lajoie {
  margin-left: 208px;
  width: 156px;
  background-color: #000064; }
  #timeline #nap-lajoie div {
    left: 0; }
#timeline #christy-mathewson {
  margin-left: 240px;
  width: 124px;
  background-color: #000064; }
  #timeline #christy-mathewson div {
    left: 0; }
#timeline #tom-seaver {
  margin-left: 776px;
  width: 148px;
  background-color: #000064; }
  #timeline #tom-seaver div {
    right: 0; }
#timeline #joe-morgan {
  margin-left: 744px;
  width: 164px;
  background-color: #000064; }
  #timeline #joe-morgan div {
    right: 0; }
#timeline #lefty-grove {
  margin-left: 440px;
  width: 124px;
  background-color: #000064; }
  #timeline #lefty-grove div {
    left: 0; }
#timeline #jimmie-foxx {
  margin-left: 440px;
  width: 156px;
  background-color: #000064; }
  #timeline #jimmie-foxx div {
    left: 0; }
#timeline #frank-robinson {
  margin-left: 688px;
  width: 156px;
  background-color: #000064; }
  #timeline #frank-robinson div {
    right: 0; }
#timeline #eddie-mathews {
  margin-left: 656px;
  width: 124px;
  background-color: #000064; }
  #timeline #eddie-mathews div {
    left: 0; }
#timeline #bob-gibson {
  margin-left: 712px;
  width: 124px;
  background-color: #000064; }
  #timeline #bob-gibson div {
    right: 0; }
#timeline #roger-connor {
  margin-left: 80px;
  width: 132px;
  background-color: #000064; }
  #timeline #roger-connor div {
    left: 0; }
#timeline #kid-nichols {
  margin-left: 160px;
  width: 124px;
  background-color: #000064; }
  #timeline #kid-nichols div {
    left: 0; }
#timeline #dan-brouthers {
  margin-left: 72px;
  width: 196px;
  background-color: #000064; }
  #timeline #dan-brouthers div {
    left: 0; }
#timeline #johnny-bench {
  margin-left: 776px;
  width: 124px;
  background-color: #000064; }
  #timeline #johnny-bench div {
    right: 0; }
#timeline #george-davis {
  margin-left: 160px;
  width: 148px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #george-davis div {
    left: 0; }
#timeline #gaylord-perry {
  margin-left: 736px;
  width: 164px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #gaylord-perry div {
    right: 0; }
#timeline #wade-boggs {
  margin-left: 896px;
  width: 132px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #wade-boggs div {
    right: 0; }
#timeline #phil-niekro {
  margin-left: 752px;
  width: 180px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #phil-niekro div {
    right: 0; }
#timeline #warren-spahn {
  margin-left: 576px;
  width: 180px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #warren-spahn div {
    left: 0; }
#timeline #gary-carter {
  margin-left: 832px;
  width: 140px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #gary-carter div {
    right: 0; }
#timeline #joe-dimaggio {
  margin-left: 528px;
  width: 116px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #joe-dimaggio div {
    left: 0; }
#timeline #cal-ripken {
  margin-left: 888px;
  width: 156px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #cal-ripken div {
    right: 0; }
#timeline #ed-delahanty {
  margin-left: 144px;
  width: 116px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #ed-delahanty div {
    left: 0; }
#timeline #george-brett {
  margin-left: 824px;
  width: 156px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #george-brett div {
    right: 0; }
#timeline #steve-carlton {
  margin-left: 760px;
  width: 180px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #steve-carlton div {
    right: 0; }
#timeline #carl-yastrzemski {
  margin-left: 728px;
  width: 172px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #carl-yastrzemski div {
    right: 0; }
#timeline #al-kaline {
  margin-left: 664px;
  width: 164px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #al-kaline div {
    right: 0; }
#timeline #charlie-gehringer {
  margin-left: 432px;
  width: 140px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #charlie-gehringer div {
    left: 0; }
#timeline #bert-blyleven {
  margin-left: 800px;
  width: 172px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #bert-blyleven div {
    right: 0; }
#timeline #robin-roberts {
  margin-left: 624px;
  width: 140px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #robin-roberts div {
    left: 0; }
#timeline #al-spalding {
  margin-left: 8px;
  width: 52px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #al-spalding div {
    left: 0; }
#timeline #jeff-bagwell {
  margin-left: 968px;
  width: 108px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #jeff-bagwell div {
    right: 0; }
#timeline #roberto-clemente {
  margin-left: 680px;
  width: 132px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #roberto-clemente div {
    right: 0; }
#timeline #carlton-fisk {
  margin-left: 792px;
  width: 188px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #carlton-fisk div {
    right: 0; }
#timeline #fergie-jenkins {
  margin-left: 760px;
  width: 140px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #fergie-jenkins div {
    right: 0; }
#timeline #arky-vaughan {
  margin-left: 496px;
  width: 124px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #arky-vaughan div {
    left: 0; }
#timeline #yogi-berra {
  margin-left: 608px;
  width: 148px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #yogi-berra div {
    left: 0; }
#timeline #rod-carew {
  margin-left: 776px;
  width: 140px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #rod-carew div {
    right: 0; }
#timeline #bob-caruthers {
  margin-left: 112px;
  width: 68px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #bob-caruthers div {
    left: 0; }
#timeline #reggie-jackson {
  margin-left: 776px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #reggie-jackson div {
    right: 0; }
#timeline #eddie-plank {
  margin-left: 248px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #eddie-plank div {
    left: 0; }
#timeline #billy-hamilton {
  margin-left: 144px;
  width: 100px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #billy-hamilton div {
    left: 0; }
#timeline #frankie-frisch {
  margin-left: 392px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #frankie-frisch div {
    left: 0; }
#timeline #robin-yount {
  margin-left: 832px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #robin-yount div {
    right: 0; }
#timeline #pete-rose {
  margin-left: 744px;
  width: 180px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #pete-rose div {
    right: 0; }
#timeline #johnny-mize {
  margin-left: 528px;
  width: 132px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #johnny-mize div {
    left: 0; }
#timeline #sam-crawford {
  margin-left: 232px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #sam-crawford div {
    left: 0; }
#timeline #shoeless-joe-jackson {
  margin-left: 304px;
  width: 92px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #shoeless-joe-jackson div {
    left: 0; }
#timeline #duke-snider {
  margin-left: 616px;
  width: 132px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #duke-snider div {
    left: 0; }
#timeline #home-run-baker {
  margin-left: 304px;
  width: 108px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #home-run-baker div {
    left: 0; }
#timeline #nolan-ryan {
  margin-left: 768px;
  width: 212px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #nolan-ryan div {
    right: 0; }
#timeline #bill-dahlen {
  margin-left: 168px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #bill-dahlen div {
    left: 0; }
#timeline #jackie-robinson {
  margin-left: 616px;
  width: 68px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #jackie-robinson div {
    left: 0; }
#timeline #paul-waner {
  margin-left: 448px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #paul-waner div {
    left: 0; }
#timeline #ernie-banks {
  margin-left: 664px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #ernie-banks div {
    right: 0; }
#timeline #bob-feller {
  margin-left: 528px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #bob-feller div {
    left: 0; }
#timeline #ron-santo {
  margin-left: 720px;
  width: 108px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #ron-santo div {
    right: 0; }
#timeline #fred-clarke {
  margin-left: 192px;
  width: 164px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #fred-clarke div {
    left: 0; }
#timeline #don-drysdale {
  margin-left: 688px;
  width: 100px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #don-drysdale div {
    left: 0; }
#timeline #harry-heilmann {
  margin-left: 352px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #harry-heilmann div {
    left: 0; }
#timeline #juan-marichal {
  margin-left: 720px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #juan-marichal div {
    right: 0; }
#timeline #paul-molitor {
  margin-left: 864px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #paul-molitor div {
    right: 0; }
#timeline #bill-dickey {
  margin-left: 464px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #bill-dickey div {
    left: 0; }
#timeline #carl-hubbell {
  margin-left: 464px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #carl-hubbell div {
    left: 0; }
#timeline #mickey-cochrane {
  margin-left: 440px;
  width: 92px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #mickey-cochrane div {
    left: 0; }
#timeline #john-clarkson {
  margin-left: 96px;
  width: 92px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #john-clarkson div {
    left: 0; }
#timeline #buck-ewing {
  margin-left: 80px;
  width: 132px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #buck-ewing div {
    left: 0; }
#timeline #jack-glasscock {
  margin-left: 72px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #jack-glasscock div {
    left: 0; }
#timeline #luke-appling {
  margin-left: 480px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #luke-appling div {
    left: 0; }
#timeline #tim-keefe {
  margin-left: 80px;
  width: 100px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #tim-keefe div {
    left: 0; }
#timeline #jesse-burkett {
  margin-left: 160px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #jesse-burkett div {
    left: 0; }
#timeline #ed-walsh {
  margin-left: 272px;
  width: 100px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #ed-walsh div {
    left: 0; }
#timeline #red-ruffing {
  margin-left: 432px;
  width: 180px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #red-ruffing div {
    left: 0; }
#timeline #edgar-martinez {
  margin-left: 936px;
  width: 132px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #edgar-martinez div {
    right: 0; }
#timeline #brooks-robinson {
  margin-left: 680px;
  width: 172px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #brooks-robinson div {
    right: 0; }
#timeline #jim-palmer {
  margin-left: 760px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #jim-palmer div {
    right: 0; }
#timeline #barry-larkin {
  margin-left: 928px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #barry-larkin div {
    right: 0; }
#timeline #bobby-grich {
  margin-left: 800px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #bobby-grich div {
    right: 0; }
#timeline #old-hoss-radbourn {
  margin-left: 88px;
  width: 76px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #old-hoss-radbourn div {
    left: 0; }
#timeline #alan-trammell {
  margin-left: 856px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #alan-trammell div {
    right: 0; }
#timeline #larry-walker {
  margin-left: 952px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #larry-walker div {
    right: 0; }
#timeline #pee-wee-reese {
  margin-left: 560px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #pee-wee-reese div {
    left: 0; }
#timeline #ted-simmons {
  margin-left: 784px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #ted-simmons div {
    right: 0; }
#timeline #dick-allen {
  margin-left: 744px;
  width: 108px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #dick-allen div {
    right: 0; }
#timeline #al-simmons {
  margin-left: 432px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #al-simmons div {
    left: 0; }
#timeline #king-kelly {
  margin-left: 64px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #king-kelly div {
    left: 0; }
#timeline #sandy-koufax {
  margin-left: 680px;
  width: 84px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #sandy-koufax div {
    left: 0; }
#timeline #willie-mccovey {
  margin-left: 712px;
  width: 164px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #willie-mccovey div {
    right: 0; }
#timeline #jim-orourke {
  margin-left: 16px;
  width: 252px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #jim-orourke div {
    left: 0; }
#timeline #bobby-wallace {
  margin-left: 192px;
  width: 188px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #bobby-wallace div {
    left: 0; }
#timeline #hal-newhouser {
  margin-left: 552px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #hal-newhouser div {
    left: 0; }
#timeline #jim-bunning {
  margin-left: 680px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #jim-bunning div {
    right: 0; }
#timeline #kevin-brown {
  margin-left: 928px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #kevin-brown div {
    right: 0; }
#timeline #hank-greenberg {
  margin-left: 480px;
  width: 132px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #hank-greenberg div {
    left: 0; }
#timeline #tony-gwynn {
  margin-left: 896px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #tony-gwynn div {
    right: 0; }
#timeline #jim-wynn {
  margin-left: 744px;
  width: 108px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #jim-wynn div {
    right: 0; }
#timeline #monte-ward {
  margin-left: 64px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #monte-ward div {
    left: 0; }
#timeline #joe-cronin {
  margin-left: 448px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #joe-cronin div {
    left: 0; }
#timeline #willie-keeler {
  margin-left: 176px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #willie-keeler div {
    left: 0; }
#timeline #roberto-alomar {
  margin-left: 944px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #roberto-alomar div {
    right: 0; }
#timeline #lou-whitaker {
  margin-left: 856px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #lou-whitaker div {
    right: 0; }
#timeline #wes-ferrell {
  margin-left: 456px;
  width: 108px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #wes-ferrell div {
    left: 0; }
#timeline #sal-bando {
  margin-left: 768px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #sal-bando div {
    right: 0; }
#timeline #goose-goslin {
  margin-left: 408px;
  width: 132px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #goose-goslin div {
    left: 0; }
#timeline #deacon-white {
  margin-left: 8px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #deacon-white div {
    left: 0; }
#timeline #hughie-jennings {
  margin-left: 168px;
  width: 212px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #hughie-jennings div {
    left: 0; }
#timeline #ryne-sandberg {
  margin-left: 888px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #ryne-sandberg div {
    right: 0; }
#timeline #eddie-murray {
  margin-left: 856px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #eddie-murray div {
    right: 0; }
#timeline #elmer-flick {
  margin-left: 224px;
  width: 92px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #elmer-flick div {
    left: 0; }
#timeline #joe-torre {
  margin-left: 720px;
  width: 132px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #joe-torre div {
    right: 0; }
#timeline #rick-reuschel {
  margin-left: 816px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #rick-reuschel div {
    right: 0; }
#timeline #amos-rusie {
  margin-left: 152px;
  width: 92px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #amos-rusie div {
    left: 0; }
#timeline #mark-mcgwire {
  margin-left: 928px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #mark-mcgwire div {
    right: 0; }
#timeline #keith-hernandez {
  margin-left: 832px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #keith-hernandez div {
    right: 0; }
#timeline #dazzy-vance {
  margin-left: 360px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #dazzy-vance div {
    left: 0; }
#timeline #thurman-munson {
  margin-left: 792px;
  width: 76px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #thurman-munson div {
    right: 0; }
#timeline #lou-boudreau {
  margin-left: 544px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #lou-boudreau div {
    left: 0; }
#timeline #tim-raines {
  margin-left: 872px;
  width: 180px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #tim-raines div {
    right: 0; }
#timeline #rafael-palmeiro {
  margin-left: 928px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #rafael-palmeiro div {
    right: 0; }
#timeline #joe-kelley {
  margin-left: 168px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #joe-kelley div {
    left: 0; }
#timeline #george-sisler {
  margin-left: 360px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #george-sisler div {
    left: 0; }
#timeline #mordecai-brown {
  margin-left: 264px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #mordecai-brown div {
    left: 0; }
#timeline #charlie-buffinton {
  margin-left: 96px;
  width: 76px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #charlie-buffinton div {
    left: 0; }
#timeline #tony-mullane {
  margin-left: 88px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #tony-mullane div {
    left: 0; }
#timeline #joe-gordon {
  margin-left: 544px;
  width: 92px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #joe-gordon div {
    left: 0; }
#timeline #ozzie-smith {
  margin-left: 864px;
  width: 140px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #ozzie-smith div {
    right: 0; }
#timeline #ken-boyer {
  margin-left: 680px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #ken-boyer div {
    left: 0; }
#timeline #bill-terry {
  margin-left: 424px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #bill-terry div {
    left: 0; }
#timeline #ted-lyons {
  margin-left: 424px;
  width: 180px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #ted-lyons div {
    left: 0; }
#timeline #joe-mcginnity {
  margin-left: 232px;
  width: 68px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #joe-mcginnity div {
    left: 0; }
#timeline #david-cone {
  margin-left: 928px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #david-cone div {
    right: 0; }
#timeline #luis-tiant {
  margin-left: 752px;
  width: 140px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #luis-tiant div {
    right: 0; }
#timeline #stan-coveleski {
  margin-left: 336px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #stan-coveleski div {
    left: 0; }
#timeline #don-sutton {
  margin-left: 768px;
  width: 172px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #don-sutton div {
    right: 0; }
#timeline #vic-willis {
  margin-left: 224px;
  width: 92px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #vic-willis div {
    left: 0; }
#timeline #gabby-hartnett {
  margin-left: 416px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #gabby-hartnett div {
    left: 0; }
#timeline #harmon-killebrew {
  margin-left: 672px;
  width: 164px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #harmon-killebrew div {
    right: 0; }
#timeline #rich-gossage {
  margin-left: 816px;
  width: 172px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #rich-gossage div {
    right: 0; }
#timeline #gene-tenace {
  margin-left: 792px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #gene-tenace div {
    right: 0; }
#timeline #jake-beckley {
  margin-left: 144px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #jake-beckley div {
    left: 0; }
#timeline #reggie-smith {
  margin-left: 768px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #reggie-smith div {
    right: 0; }
#timeline #sherry-magee {
  margin-left: 272px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #sherry-magee div {
    left: 0; }
#timeline #richie-ashburn {
  margin-left: 624px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #richie-ashburn div {
    left: 0; }
#timeline #dwight-evans {
  margin-left: 816px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #dwight-evans div {
    right: 0; }
#timeline #john-mcgraw {
  margin-left: 168px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #john-mcgraw div {
    left: 0; }
#timeline #joe-medwick {
  margin-left: 496px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #joe-medwick div {
    left: 0; }
#timeline #buddy-bell {
  margin-left: 816px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #buddy-bell div {
    right: 0; }
#timeline #john-olerud {
  margin-left: 952px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #john-olerud div {
    right: 0; }
#timeline #will-clark {
  margin-left: 928px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #will-clark div {
    right: 0; }
#timeline #bid-mcphee {
  margin-left: 96px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #bid-mcphee div {
    left: 0; }
#timeline #silver-king {
  margin-left: 128px;
  width: 84px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #silver-king div {
    left: 0; }
#timeline #george-gore {
  margin-left: 72px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #george-gore div {
    left: 0; }
#timeline #jimmy-collins {
  margin-left: 200px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #jimmy-collins div {
    left: 0; }
#timeline #early-wynn {
  margin-left: 552px;
  width: 188px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #early-wynn div {
    left: 0; }
#timeline #rube-waddell {
  margin-left: 216px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #rube-waddell div {
    left: 0; }
#timeline #graig-nettles {
  margin-left: 776px;
  width: 164px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #graig-nettles div {
    right: 0; }
#timeline #charlie-bennett {
  margin-left: 64px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #charlie-bennett div {
    left: 0; }
#timeline #orel-hershiser {
  margin-left: 904px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #orel-hershiser div {
    right: 0; }
#timeline #dennis-eckersley {
  margin-left: 840px;
  width: 180px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #dennis-eckersley div {
    right: 0; }
#timeline #willie-stargell {
  margin-left: 736px;
  width: 156px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #willie-stargell div {
    right: 0; }
#timeline #minnie-minoso {
  margin-left: 632px;
  width: 244px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #minnie-minoso div {
    right: 0; }
#timeline #dave-winfield {
  margin-left: 824px;
  width: 172px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #dave-winfield div {
    right: 0; }
#timeline #bobby-bonds {
  margin-left: 784px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #bobby-bonds div {
    right: 0; }
#timeline #bill-freehan {
  margin-left: 728px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #bill-freehan div {
    right: 0; }
#timeline #andre-dawson {
  margin-left: 848px;
  width: 156px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #andre-dawson div {
    right: 0; }
#timeline #dave-stieb {
  margin-left: 872px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #dave-stieb div {
    right: 0; }
#timeline #ross-barnes {
  margin-left: 8px;
  width: 76px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #ross-barnes div {
    left: 0; }
#timeline #bret-saberhagen {
  margin-left: 912px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #bret-saberhagen div {
    right: 0; }
#timeline #eddie-cicotte {
  margin-left: 280px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #eddie-cicotte div {
    left: 0; }
#timeline #jim-mccormick {
  margin-left: 64px;
  width: 68px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #jim-mccormick div {
    left: 0; }
#timeline #bob-lemon {
  margin-left: 568px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #bob-lemon div {
    left: 0; }
#timeline #darrell-evans {
  margin-left: 792px;
  width: 156px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #darrell-evans div {
    right: 0; }
#timeline #willie-randolph {
  margin-left: 840px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #willie-randolph div {
    right: 0; }
#timeline #cupid-childs {
  margin-left: 144px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #cupid-childs div {
    left: 0; }
#timeline #frank-chance {
  margin-left: 224px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #frank-chance div {
    left: 0; }
#timeline #paul-hines {
  margin-left: 16px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #paul-hines div {
    left: 0; }
#timeline #roy-campanella {
  margin-left: 624px;
  width: 68px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #roy-campanella div {
    left: 0; }
#timeline #whitey-ford {
  margin-left: 640px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #whitey-ford div {
    left: 0; }
#timeline #billy-williams {
  margin-left: 712px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #billy-williams div {
    right: 0; }
#timeline #kevin-appier {
  margin-left: 952px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #kevin-appier div {
    right: 0; }
#timeline #billy-herman {
  margin-left: 488px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #billy-herman div {
    left: 0; }
#timeline #wilbur-wood {
  margin-left: 728px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #wilbur-wood div {
    right: 0; }
#timeline #harry-stovey {
  margin-left: 80px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #harry-stovey div {
    left: 0; }
#timeline #cesar-cedeno {
  margin-left: 800px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #cesar-cedeno div {
    right: 0; }
#timeline #zack-wheat {
  margin-left: 312px;
  width: 140px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #zack-wheat div {
    left: 0; }
#timeline #red-faber {
  margin-left: 352px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #red-faber div {
    left: 0; }
#timeline #stan-hack {
  margin-left: 496px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #stan-hack div {
    left: 0; }
#timeline #frank-tanana {
  margin-left: 824px;
  width: 156px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #frank-tanana div {
    right: 0; }
#timeline #billy-pierce {
  margin-left: 600px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #billy-pierce div {
    left: 0; }
#timeline #hugh-duffy {
  margin-left: 144px;
  width: 140px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #hugh-duffy div {
    left: 0; }
#timeline #ralph-kiner {
  margin-left: 608px;
  width: 68px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #ralph-kiner div {
    left: 0; }
#timeline #clark-griffith {
  margin-left: 168px;
  width: 180px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #clark-griffith div {
    left: 0; }
#timeline #enos-slaughter {
  margin-left: 544px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #enos-slaughter div {
    left: 0; }
#timeline #kiki-cuyler {
  margin-left: 408px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #kiki-cuyler div {
    left: 0; }
#timeline #roger-bresnahan {
  margin-left: 216px;
  width: 140px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #roger-bresnahan div {
    left: 0; }
#timeline #sam-thompson {
  margin-left: 120px;
  width: 164px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #sam-thompson div {
    left: 0; }
#timeline #harry-hooper {
  margin-left: 312px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #harry-hooper div {
    left: 0; }
#timeline #mickey-welch {
  margin-left: 80px;
  width: 92px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #mickey-welch div {
    left: 0; }
#timeline #dizzy-dean {
  margin-left: 480px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #dizzy-dean div {
    left: 0; }
#timeline #larry-doby {
  margin-left: 616px;
  width: 92px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #larry-doby div {
    left: 0; }
#timeline #johnny-evers {
  margin-left: 256px;
  width: 212px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #johnny-evers div {
    left: 0; }
#timeline #tony-perez {
  margin-left: 752px;
  width: 172px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #tony-perez div {
    right: 0; }
#timeline #max-carey {
  margin-left: 320px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #max-carey div {
    left: 0; }
#timeline #pud-galvin {
  margin-left: 40px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #pud-galvin div {
    left: 0; }
#timeline #dave-bancroft {
  margin-left: 360px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #dave-bancroft div {
    left: 0; }
#timeline #tony-lazzeri {
  margin-left: 448px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #tony-lazzeri div {
    left: 0; }
#timeline #joe-tinker {
  margin-left: 256px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #joe-tinker div {
    left: 0; }
#timeline #earle-combs {
  margin-left: 432px;
  width: 84px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #earle-combs div {
    left: 0; }
#timeline #joe-sewell {
  margin-left: 400px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #joe-sewell div {
    left: 0; }
#timeline #bobby-doerr {
  margin-left: 536px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #bobby-doerr div {
    left: 0; }
#timeline #lefty-gomez {
  margin-left: 480px;
  width: 100px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #lefty-gomez div {
    left: 0; }
#timeline #kirby-puckett {
  margin-left: 912px;
  width: 84px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #kirby-puckett div {
    right: 0; }
#timeline #hoyt-wilhelm {
  margin-left: 656px;
  width: 156px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #hoyt-wilhelm div {
    right: 0; }
#timeline #burleigh-grimes {
  margin-left: 368px;
  width: 140px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #burleigh-grimes div {
    left: 0; }
#timeline #sam-rice {
  margin-left: 360px;
  width: 148px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #sam-rice div {
    left: 0; }
#timeline #edd-roush {
  margin-left: 344px;
  width: 140px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #edd-roush div {
    left: 0; }
#timeline #eppa-rixey {
  margin-left: 336px;
  width: 164px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #eppa-rixey div {
    left: 0; }
#timeline #earl-averill {
  margin-left: 472px;
  width: 92px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #earl-averill div {
    left: 0; }
#timeline #nellie-fox {
  margin-left: 616px;
  width: 140px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #nellie-fox div {
    left: 0; }
#timeline #waite-hoyt {
  margin-left: 384px;
  width: 156px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #waite-hoyt div {
    left: 0; }
#timeline #orlando-cepeda {
  margin-left: 704px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #orlando-cepeda div {
    right: 0; }
#timeline #ernie-lombardi {
  margin-left: 488px;
  width: 124px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #ernie-lombardi div {
    left: 0; }
#timeline #heinie-manush {
  margin-left: 424px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #heinie-manush div {
    left: 0; }
#timeline #travis-jackson {
  margin-left: 416px;
  width: 108px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #travis-jackson div {
    left: 0; }
#timeline #luis-aparicio {
  margin-left: 688px;
  width: 132px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #luis-aparicio div {
    right: 0; }
#timeline #chief-bender {
  margin-left: 264px;
  width: 172px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #chief-bender div {
    left: 0; }
#timeline #herb-pennock {
  margin-left: 336px;
  width: 172px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #herb-pennock div {
    left: 0; }
#timeline #hack-wilson {
  margin-left: 424px;
  width: 84px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #hack-wilson div {
    left: 0; }
#timeline #phil-rizzuto {
  margin-left: 568px;
  width: 116px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #phil-rizzuto div {
    left: 0; }
#timeline #addie-joss {
  margin-left: 256px;
  width: 60px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #addie-joss div {
    left: 0; }
#timeline #bruce-sutter {
  margin-left: 848px;
  width: 92px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #bruce-sutter div {
    right: 0; }
#timeline #jim-rice {
  margin-left: 832px;
  width: 116px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #jim-rice div {
    right: 0; }
#timeline #chuck-klein {
  margin-left: 464px;
  width: 124px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #chuck-klein div {
    left: 0; }
#timeline #ross-youngs {
  margin-left: 376px;
  width: 68px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #ross-youngs div {
    left: 0; }
#timeline #catfish-hunter {
  margin-left: 760px;
  width: 108px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #catfish-hunter div {
    right: 0; }
#timeline #red-schoendienst {
  margin-left: 600px;
  width: 140px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #red-schoendienst div {
    left: 0; }
#timeline #rollie-fingers {
  margin-left: 784px;
  width: 132px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #rollie-fingers div {
    right: 0; }
#timeline #jack-chesbro {
  margin-left: 232px;
  width: 76px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #jack-chesbro div {
    left: 0; }
#timeline #lou-brock {
  margin-left: 728px;
  width: 140px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #lou-brock div {
    right: 0; }
#timeline #rabbit-maranville {
  margin-left: 336px;
  width: 180px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #rabbit-maranville div {
    left: 0; }
#timeline #pie-traynor {
  margin-left: 400px;
  width: 132px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #pie-traynor div {
    left: 0; }
#timeline #george-kell {
  margin-left: 584px;
  width: 108px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #george-kell div {
    left: 0; }
#timeline #jim-bottomley {
  margin-left: 416px;
  width: 116px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #jim-bottomley div {
    left: 0; }
#timeline #freddie-lindstrom {
  margin-left: 432px;
  width: 92px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #freddie-lindstrom div {
    left: 0; }
#timeline #jesse-haines {
  margin-left: 384px;
  width: 148px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #jesse-haines div {
    left: 0; }
#timeline #chick-hafey {
  margin-left: 432px;
  width: 100px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #chick-hafey div {
    left: 0; }
#timeline #ray-schalk {
  margin-left: 336px;
  width: 132px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #ray-schalk div {
    left: 0; }
#timeline #rube-marquard {
  margin-left: 304px;
  width: 132px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #rube-marquard div {
    left: 0; }
#timeline #rick-ferrell {
  margin-left: 472px;
  width: 140px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #rick-ferrell div {
    left: 0; }
#timeline #bill-mazeroski {
  margin-left: 688px;
  width: 124px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #bill-mazeroski div {
    right: 0; }
#timeline #high-pockets-kelly {
  margin-left: 360px;
  width: 132px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #high-pockets-kelly div {
    left: 0; }
#timeline #lloyd-waner {
  margin-left: 456px;
  width: 140px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #lloyd-waner div {
    left: 0; }
#timeline #tommy-mccarthy {
  margin-left: 112px;
  width: 92px;
  background-color: #cccce0;
  background-color: rgba(0, 0, 100, 0.2); }
  #timeline #tommy-mccarthy div {
    left: 0; }
#timeline #barry-bonds {
  margin-left: 928px;
  width: 164px;
  background-color: #000064; }
  #timeline #barry-bonds div {
    right: 0; }
#timeline #roger-clemens {
  margin-left: 912px;
  width: 180px;
  background-color: #000064; }
  #timeline #roger-clemens div {
    right: 0; }
#timeline #alex-rodriguez {
  margin-left: 992px;
  width: 132px;
  background-color: #000064; }
  #timeline #alex-rodriguez div {
    right: 0; }
#timeline #albert-pujols {
  margin-left: 1048px;
  width: 76px;
  background-color: #000064; }
  #timeline #albert-pujols div {
    right: 0; }
#timeline #greg-maddux {
  margin-left: 928px;
  width: 172px;
  background-color: #000064; }
  #timeline #greg-maddux div {
    right: 0; }
#timeline #randy-johnson {
  margin-left: 944px;
  width: 164px;
  background-color: #000064; }
  #timeline #randy-johnson div {
    right: 0; }
#timeline #mariano-rivera {
  margin-left: 1000px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #mariano-rivera div {
    right: 0; }
#timeline #ivan-rodriguez {
  margin-left: 968px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #ivan-rodriguez div {
    right: 0; }
#timeline #ken-griffey {
  margin-left: 952px;
  width: 164px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #ken-griffey div {
    right: 0; }
#timeline #mike-piazza {
  margin-left: 976px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #mike-piazza div {
    right: 0; }
#timeline #pedro-martinez {
  margin-left: 976px;
  width: 132px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #pedro-martinez div {
    right: 0; }
#timeline #chipper-jones {
  margin-left: 984px;
  width: 140px;
  background-color: #333383;
  background-color: rgba(0, 0, 100, 0.8); }
  #timeline #chipper-jones div {
    right: 0; }
#timeline #frank-thomas {
  margin-left: 960px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #frank-thomas div {
    right: 0; }
#timeline #mike-mussina {
  margin-left: 968px;
  width: 132px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #mike-mussina div {
    right: 0; }
#timeline #jim-edmonds {
  margin-left: 984px;
  width: 132px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #jim-edmonds div {
    right: 0; }
#timeline #curt-schilling {
  margin-left: 944px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #curt-schilling div {
    right: 0; }
#timeline #derek-jeter {
  margin-left: 1000px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #derek-jeter div {
    right: 0; }
#timeline #jim-thome {
  margin-left: 968px;
  width: 156px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #jim-thome div {
    right: 0; }
#timeline #tom-glavine {
  margin-left: 936px;
  width: 164px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #tom-glavine div {
    right: 0; }
#timeline #craig-biggio {
  margin-left: 944px;
  width: 148px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #craig-biggio div {
    right: 0; }
#timeline #scott-rolen {
  margin-left: 1008px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #scott-rolen div {
    right: 0; }
#timeline #roy-halladay {
  margin-left: 1024px;
  width: 100px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #roy-halladay div {
    right: 0; }
#timeline #kenny-lofton {
  margin-left: 968px;
  width: 124px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #kenny-lofton div {
    right: 0; }
#timeline #manny-ramirez {
  margin-left: 984px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #manny-ramirez div {
    right: 0; }
#timeline #andruw-jones {
  margin-left: 1008px;
  width: 116px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #andruw-jones div {
    right: 0; }
#timeline #sammy-sosa {
  margin-left: 952px;
  width: 140px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #sammy-sosa div {
    right: 0; }
#timeline #todd-helton {
  margin-left: 1016px;
  width: 108px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #todd-helton div {
    right: 0; }
#timeline #carlos-beltran {
  margin-left: 1024px;
  width: 100px;
  background-color: #6666a2;
  background-color: rgba(0, 0, 100, 0.6); }
  #timeline #carlos-beltran div {
    right: 0; }
#timeline #john-smoltz {
  margin-left: 944px;
  width: 164px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #john-smoltz div {
    right: 0; }
#timeline #joe-mauer {
  margin-left: 1072px;
  width: 52px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #joe-mauer div {
    right: 0; }
#timeline #gary-sheffield {
  margin-left: 944px;
  width: 164px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #gary-sheffield div {
    right: 0; }
#timeline #jason-giambi {
  margin-left: 1000px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #jason-giambi div {
    right: 0; }
#timeline #vladimir-guerrero {
  margin-left: 1008px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #vladimir-guerrero div {
    right: 0; }
#timeline #jorge-posada {
  margin-left: 1000px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #jorge-posada div {
    right: 0; }
#timeline #ichiro-suzuki {
  margin-left: 1048px;
  width: 76px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #ichiro-suzuki div {
    right: 0; }
#timeline #bobby-abreu {
  margin-left: 1008px;
  width: 116px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #bobby-abreu div {
    right: 0; }
#timeline #jeff-kent {
  margin-left: 976px;
  width: 124px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #jeff-kent div {
    right: 0; }
#timeline #lance-berkman {
  margin-left: 1032px;
  width: 92px;
  background-color: #9999c1;
  background-color: rgba(0, 0, 100, 0.4); }
  #timeline #lance-berkman div {
    right: 0; }
